[2013-03-04 06:02] lepture opened #1 "Release schedule"
- [x] spmjs.org should be ready
- [x] spm2 works fine
- [x] make announcement
- [x] documentation for spm2
- [x] release spm2 to stable channel

[2013-03-12 09:04] lepture opened #2 "output"
output can be simple as:

[code]

[2013-03-12 09:10] lepture commented on #2
glob:

[code]

[2013-03-13 02:23] kfpanda opened #3 "output 新规则是怎么样的？"
spm2 的 output 新规则 是否 应该先整理一下。

[2013-03-13 03:01] lepture commented on #3
@kfpanda 目前还在 beta 阶段，暂时未定下来。

有一点可以肯定，`output` 将会只有一个规则，spm build 只做标准打包，任何自定义需求，请使用 grunt。

build 请关注 https://github.com/spmjs/grunt-spm-build ， spm build 也是基于 grunt-spm-build 的，只是内置了一套配置文件。

你可能需要了解一下 grunt。

grunt-spm-build 是一个 task 集合，见：https://github.com/spmjs/grunt-spm-build#collection

[2013-03-13 07:39] lepture opened #4 "css transport format"
Before transport:

[code]

After transport:

[code]

After concat:

[code]

[2013-03-13 07:40] lepture commented on #4
statement format:

[code]

keywords:
- define
- import
- block endblock

[2013-03-13 16:19] lepture commented on #4
cmd-util css parser done.

[2013-03-16 03:49] huangwenping opened #5 "spm2 安装出错，连接超时"
node -v v0.10.0
npm -v  1.2.14
无论是 通过 npm 还是 下载 git 源码 安装 都不行，应该是某个网络连接有问题，但又找不到具体是哪个，在这里一段卡了很久：

[code]

下面是log

[code]

[2013-03-16 04:05] lepture commented on #5
@huangwenping 这是 npm 的问题，你可以试着安装一下 grunt

[code]

[2013-03-16 04:05] #5 closed, assigned to nobody

[2013-03-16 04:06] lepture commented on #5
@huangwenping 另外，目前还处于 beta，接口可能会有变化，请注意关注文档进展。

[2013-03-16 04:38] huangwenping commented on #5
好的，谢了。希望尽早推出稳定版

[2013-03-20 08:15] lepture commented on #4
done

[2013-03-20 08:15] #4 closed, assigned to nobody

[2013-03-22 16:03] lepture opened #6 "component.json ?"
使用 `component.json` 代替 `package.json`

大致字段：

[code]

[2013-03-23 00:32] tiye commented on #6
有些担心文件名重复的问题, Bower 用的 `component.json` 就讨论过 https://github.com/twitter/bower/issues/110
似乎还要考虑规范性什么的, 没理清楚

[2013-03-23 02:30] nuintun opened #7 "安装不上啊！"
![QQ 20130323102737](https://f.cloud.github.com/assets/1730277/293396/832747ee-9361-11e2-9d5c-7233ce6ca813.jpg)
![QQ 20130323102818](https://f.cloud.github.com/assets/1730277/293397/89f3912c-9361-11e2-856c-b4d4c545fb0d.png)

[2013-03-23 02:41] lepture commented on #7
ECONNRESET

这应该是被墙了，你需要向方校长提 bug。

[2013-03-23 02:44] lepture commented on #6
https://gist.github.com/skiant/4134821

想了一下，还是维持现状。

[2013-03-23 03:24] lifesinger commented on #6
还是用 package.json 吧，spm 的配置不多

[2013-03-23 03:43] nuintun commented on #7
@lepture 无语，伤心啊！

[2013-03-23 03:45] nuintun commented on #7
@lepture `spm 1.7.6`正式版也报这个错，但确安装成功了。。。

[2013-03-23 04:03] lepture commented on #7
@NewtonNiu nonsense. This is not an issue related to spm. Closed.

[2013-03-23 04:03] #7 closed, assigned to nobody

[2013-03-26 00:53] edokeh commented on #3
grunt-spm-build 感觉文档还是缺了点，要翻翻源码才能搞明白

[2013-03-26 01:53] nuintun opened #8 "安装过程一切正常，可是安装完后就是无法运行，报错！！！"
![Noname](https://f.cloud.github.com/assets/1730277/301012/a202a3d6-95b7-11e2-86d2-d5da8919f7a9.jpg)
系统是`server 2003`

[2013-03-26 01:57] lepture commented on #8
图上空白，无信息，请使用纯文本。

[2013-03-26 01:59] lepture commented on #3
@edokeh still on beta.

另外这是一个集合，理论上是去看各个 task 的文档。不过确实需要一份文档来解释 build 的整个过程。

[2013-03-26 03:20] lepture commented on #3
@edokeh 如果有时间，可否帮忙写一写文档呢？

[2013-03-26 04:02] nuintun commented on #8
@lepture 图片死掉了？

[2013-03-26 04:15] lepture commented on #8
@NewtonNiu 已经知道问题了，也解决了，暂时不发布，本周发布正式版。可 checkout 源码测试。（主要对 windows 不熟悉，也许还会有 windows 上的各种问题）。

[2013-03-26 06:04] nuintun commented on #8
@嗯，windows应该主要是路径上的问题，linux是`/`，windows是`\`。

[2013-03-26 06:36] edokeh commented on #3
@lepture
如果有能力，肯定愿意贡献文档
不过现在在看的 grunt-spm-build 这块还比较迷糊，比如这个 issue ，该如何自定义 output 规则就还没弄出个头绪
我看你们目前的文档最基础的功能应该都已经覆盖到了，但是跟 Spm 1.x 相比，还是少了不少东西（其实是 Spm2 功能上做了精简对吧？），这块内容我觉得可能将会是文档很重要的部分

[2013-03-26 06:57] lepture commented on #3
@edokeh

`grunt-spm-build` 是一个 task 集合，把这些 task 串起来还是有不小的难度的，我写了一点 [Build Process](https://github.com/spmjs/grunt-spm-build#build-process)。

你需要的是理解 build 的整个过程，然后去看各个 task 的配置，理论上来说可以完成所有的工作了。

spm2 定位为包管理器，只打包特定的一类包（就是发布到 spmjs.org 上的包），所以现在的 output 简化成了一个列表，没什么可配置的。spm2 也是用的 grunt-spm-build 这一个集合，调用的是 `grunt-spm-build/index.js` 里所写的一个生成 grunt config 的方法 `initConfig`。

如果需要自由组合的话，应该看的是各个子 task 的

[2013-03-26 07:45] lepture commented on #3
@edokeh example on grunt tasks:

https://github.com/spmjs/issue-cases/tree/master/grunt-spm-build-3

[2013-03-26 08:11] edokeh commented on #3
没有 Node 背景，研究起来慢。。。不过大致摸出了个轮廓，争取抓紧贡献篇文章

[2013-03-27 10:16] nuintun opened #9 "linux和window下build报错啊！"
![Noname](https://f.cloud.github.com/assets/1730277/307578/0f34b272-96c7-11e2-874d-5c1ff70c88af.jpg)

[2013-03-27 10:17] nuintun commented on #9
window测试也是报这个错

[2013-03-27 10:25] lepture commented on #9
@NewtonNiu 下次可否不要发图？把 log 发出来就好了。

http://docs.spmjs.org/en/package

[2013-03-27 10:27] #8 closed, assigned to nobody

[2013-03-27 10:40] nuintun commented on #9
@lepture ok~

[2013-03-27 10:55] nuintun commented on #9
@lepture

[code]

什么情况，`unknown option`，版本都看不了！

[2013-03-27 11:12] lepture commented on #9
@NewtonNiu http://docs.spmjs.org/

首先，你什么都不用做呀。直接输入 `spm` 就好了。另外，看版本是 `spm -V` 或者 `spm --version`

`-v` 在 unix 里一般指 `--verbose`。

[2013-03-27 11:42] nuintun commented on #9
@lepture 测试代码`publish`服务器上了，怎么删除。。。囧！

[2013-03-27 11:49] lepture commented on #9
@NewtonNiu 不是你自己账户下的，你不能删。不用理会，还没正式开张，明后天开张后就需要登录才能发布。

[2013-03-27 12:05] nuintun commented on #9
恩，明了～

[2013-03-29 01:07] hellolibo opened #10 "如里在一个引用了grunt-spm-build的gruntfile中，再次使用copy，会有覆盖问题"
[code]

grunt.task.run(["csslint", "jshint", "spm-build", "copy:test"]);

我发现这里的copy会覆盖spm-build中的copy:

[code]

[2013-03-29 01:34] hellolibo commented on #10
先这样搞搞吧

[code]

[2013-03-29 01:36] lepture commented on #10
@hellolibo 是的，正是这样设计的，方便在外层重置里面的配置。

你的问题应该是希望 spm-build 里的配置和外层深度 merge ？可能要改一下 grunt-spm-build。大概的写法设计为：

[code]

最后一个参数 `true` 表示要深度 merge。

[2013-03-29 01:57] twinstony commented on #3
也正在缓慢学习中，期待你的文章@edokeh

[2013-03-29 02:08] hellolibo commented on #10
嗯，应该有这样的设置,比较好

[2013-03-29 02:40] lepture commented on #10
@hellolibo 已实现，这个 issue 最好提到 https://github.com/spmjs/grunt-spm-build/issues

[2013-03-29 02:40] #10 closed, assigned to nobody

[2013-03-29 05:56] #6 closed, assigned to nobody

[2013-03-30 03:47] hellolibo opened #11 "谈一个关于grunt-init的问题。"
使用grunt-init的 writePackageJSON方法写文件，似乎只能写他们指定的项目，我增加spm中的family 它都过滤掉了，如何处理这个问题？ 让package.json做为一个文件模板？还是专门为spm定义一个json文件?

[2013-03-30 05:25] popomore commented on #11
目前输入的 family 会写在最下面，后续会覆盖下这个方法 spmjs/spm-init#1

[2013-03-30 05:49] hellolibo commented on #11
没有发现写在最下面吗，直接过滤了，最终的package.js时没有family这项

[2013-03-30 09:54] lepture commented on #11
@hellolibo 使用 spm init

https://github.com/spmjs/spm-init
https://github.com/aralejs/template-arale/tree/spm2

[2013-03-30 09:56] lepture commented on #11
@hellolibo 关闭，该 issue 在 spmjs/spm-init#1 中讨论。

[2013-03-30 09:56] #11 closed, assigned to nobody

[2013-04-01 09:37] lepture commented on #3
@edokeh https://github.com/spmjs/docs.spmjs.org/tree/master/docs/contrib

[2013-04-01 09:37] #3 closed, assigned to nobody

[2013-04-01 09:37] #2 closed, assigned to nobody

[2013-04-01 11:52] lepture opened #12 "spm 2.0.0 发布日志"
首先申明一下 **spm 不是构建工具**，spm 是包管理器。作为一个包管理器，它的主要任务是管理包，也就是管理 cmd 模块。

同时我们的[源服务网站](https://spmjs.org/)也步入 alpha 了，功能还未完善，我们将在使用中进步。spm 的主要任务即是与源服务打交道，包括获取模块信息(spm info)、搜索模块(spm search)、下载模块(spm install)、上传模块(spm publish)等。

当然，并不是说 spm 就不做构建了，它将负责 cmd 标准模块的构建。业务代码的构建方案请参考 [grunt-spm-build](https://github.com/spmjs/grunt-spm-build)，同时，关于构建的 issue 请不要提到 [spm2](https://github.com/spmjs/spm2) 里来，请提到 gru

[2013-04-01 12:19] #12 closed, assigned to nobody

[2013-04-01 13:36] #1 closed, assigned to nobody

[2013-04-01 13:39] lepture opened #13 "alias to dependencies"
spm publish 时会计算 dependencies。

现状是分析 dist 源码拿到所有的 dependencies，这样将会导致最底层的包是被依赖最多的，放在源上统计不太好。

改为分析 alias，使用最上层的依赖。

[2013-04-01 13:54] lepture opened #14 "auto update"
自动检查更新。

在 `.spm/autoupdate` 里记录最后检查时间，每周检查一次更新。

[code]

返回：

[code]

比较当前版本与源里的版本大小，如果小于源所要求的版本，则提示更新。

[2013-04-02 01:54] #13 closed, assigned to nobody

[2013-04-02 02:45] kfpanda opened #15 "有关源服务"
2.0中，没有相关源服务介绍， 只能使用 spm提供的源服务。
希望能提供公司的源服务搭建方案。

[2013-04-02 05:53] lepture commented on #15
@kfpanda not ready.

star this repo: https://github.com/lepture/yuan

[2013-04-02 06:20] lepture opened #16 "extend install"
support for:
- [ ] spm install git://....
- [ ] spm install http://path/to/package.tar.gz
- [x] 如果已有，则不去源上请求

[2013-04-02 13:34] lepture opened #17 "spm publish --doc"
publish docs has bug.

[2013-04-03 04:10] #17 closed, assigned to nobody

[2013-04-03 04:10] #9 closed, assigned to nobody

[2013-04-03 16:31] lileiseven opened #18 "spmjs.org中的项目还比较少"
搜索了下jquery还只1.8.0版本，arale / alice 也不全。 这个2.0发布的貌似有点着急。

[2013-04-03 16:36] afc163 commented on #18
spm2 发布和 arale alice 没有直接联系，这是供整个互联网使用的源托管服务。

很快 arale 和 alice 都会迁移到 spmjs.org 上。

[2013-04-04 02:29] popomore commented on #18
spm 发布了大家才能往上传么。

[2013-04-07 02:37] imeoer opened #19 "API Error"
[code]

报错，应该是目的地址不正确.

[2013-04-07 02:41] lepture commented on #19
@imeoer

[code]

这样的错误？

`query: ['gallery/underscore']`

[2013-04-07 03:11] imeoer commented on #19
@lepture 这样子：

install: documentcloud/backbone
  fetch: documentcloud/backbone
   yuan: not found
   warn: not in cache
  clone: git://github.com/documentcloud/backbone.git
execute: git clone git://github.com/documentcloud/backbone.git C:\Users\iMeoer.spm\src\documentcloud\backbone
  error: Command failed: fatal: could not create work tree dir 'C:\Users\iMeoer.spm\src\documentcloud\backbone'.: No

[2013-04-07 03:14] imeoer commented on #19
![ Q -20130407111334](https://f.cloud.github.com/assets/1524576/348202/2d784a9c-9f31-11e2-959e-26333aa4d8e0.png)
@lepture

[2013-04-07 06:20] lepture opened #20 "spm install -g"
spm install -g will install modules to `~/.spm/sea-modules`

[2013-04-07 06:26] lepture commented on #16
#20

[2013-04-07 06:44] #20 closed, assigned to nobody

[2013-04-07 07:29] yyclaw opened #21 "spm2在build时不支持自定义version了？"

[2013-04-07 08:06] #21 closed, assigned to nobody

[2013-04-07 09:39] lepture commented on #19
@imeoer `spm install gallery/backbone` now.

[2013-04-07 09:39] #19 closed, assigned to nobody

[2013-04-07 09:53] imeoer commented on #19
@lepture thks :+1:

[2013-04-08 04:16] wood8 commented on #5
我也有类似问题,我的是连接重置了,但是我装grunt也是这样.

[2013-04-08 04:37] xsbear commented on #5
应该主要是网络问题，导致有些npm包不能正常下载，我在公司网络不行，家里还行。给npm 配个http_proxy就可以了

[2013-04-10 02:19] lepture opened #22 "spm.sdk.yuan supports local source repo"
a source server can be a local path.

[2013-04-10 05:32] dragonzu opened #23 "linux 下的 spm build 和 windows 下的 spm build 结果为啥不一样涅？"
linux 下的 spm build 和 windows 下的 spm build 结果为啥不一样涅？

[linux执行如下]
          ......
                  Task: "uglify:js" (uglify) task
                    file: "dist/dialog.js" created.
  uncompressed: size: 8709 bytes.
      compressed: size: 91 bytes gzipped (344 bytes minified).
                    file: "dist/jquery-dialog/5.0.3/jquery-dialog.js" created.
  uncompressed: size: 24084 bytes.

[2013-04-10 05:40] dragonzu commented on #23
问题解决了，package.json的output去掉了要合并的js
（但还是不明白为啥同样的js，同样的package.json，两个系统会出现不同的打包结果）

[2013-04-10 05:40] #23 closed, assigned to nobody

[2013-04-10 05:40] lepture commented on #23
show me the code.

[2013-04-10 06:40] dragonzu opened #24 "css压缩bug？"
帮解释下这是不是个BUG
对css文件spm build后 background:url 被改了：1.0.0会变成1.0，5.0.3会变成5.3
如：background:url(http://xxx.cn/test/1.0.0/dialog/5.0.3/images/bg.jpg);
会变成：background:url(http://xxx.cn/test/1.0/dialog/5.3/images/bg.jpg);
为啥涅？

[2013-04-10 06:49] lepture commented on #24
I can't reproduce it.

This is not a issue related to spm2.

[2013-04-10 06:49] #24 closed, assigned to nobody

[2013-04-10 07:14] dragonzu commented on #24
你写一个style.css内容就一句话body{background:url(http://xxx.cn/test/1.0.0/dialog/5.0.3/images/bg.jpg);}
然后配个简单的package.json
spm build
看下结果
ps：我用的spm 2.0.3

[2013-04-10 07:25] lepture commented on #24
@dragonzu I did it.

[2013-04-10 08:34] dragonzu commented on #24
@lepture
我再抛个bug：文件名带点build时会有错 jquery.tmpl.js
 warn: file .build\src\jquery-debug.tmpl.js not found
貌似跟css那个一个问题

[2013-04-10 09:47] lepture commented on #24
@dragonzu the css isssue is related to https://github.com/GoalSmashers/clean-css

現在的版本已經處理好了，需要升級相關依賴，因爲我的是開發版，所以沒有問題，等下周升級後就好了。

[2013-04-10 14:46] lepture opened #25 "spm build 分離"
spm 是包管理器，只負責與發行包相關的工作。

spm 是啓動器，負責啓動各個子命令。
## 需要做的事
- [x] 去掉 spm2 中的 spm build
- [x] 去掉 spm2 中的 grunt 依賴
- [x] 新建 spm-grunt，提供 grunt 的調用
- [x] 新建 spm-build，提供 spm build 的功能

[2013-04-10 15:00] xuhuan opened #26 "关于spm的文档问题"
有没有适合新手看的一步一步从0开始的关于spm的系统性的操作说明文档或者已有的相关文档或资料？
seajs关于各个模块的东西还算能理解，可是感觉seajs用grunt来构建和spm打包这方面的资料实在是太少了，网上Google了半天，也没多少有用信息，而且大部分都是英文的。
感觉基于seajs来开发构建和打包方面的学习成本超过seajs本身啊。
有spm和grunt这方面比较好的学习资料的麻烦推荐下，最好是中文的，谢谢了。

[2013-04-10 16:47] lepture commented on #26
時間不夠用

[2013-04-10 17:24] xuhuan commented on #26
感觉现在资料很少，特别是spm2部分，spm是有wiki了，还能慢慢研究，spm2的就不行了。还有spm deploy的问题，spm的wiki里的方法和现在的版本好像不一样了，又没办法通用了，我刚才试了个把小时了，还没搞定部署在本地，难道 npm install 进来的 spm-deploy 只能部署到服务器？

[2013-04-10 17:26] popomore commented on #26
spm2 的 deploy 就是部署到服务器的

[2013-04-11 00:19] xuhuan commented on #26
那部署到本地的怎么处理？难道要手动？一个个拷贝到指定目录？

[2013-04-11 00:36] lifesinger commented on #25
这个我支持

spm build 也保持纯粹，仅支持标准 CMD 的构建

非标准的构建，我来吧，放在 grunt-cmd-build 里

2013/4/10 Hsiaoming Yang notifications@github.com

##

王保平 / 玉伯（射雕）
送人玫瑰手有余香

[2013-04-11 09:25] #25 closed, assigned to nobody

[2013-04-11 12:05] hellolibo commented on #26
我觉得先学grunt吧

[2013-04-15 01:01] linxq commented on #26
是啊 能不能系统的搞下，现在来看用起来比较复杂。

[2013-04-15 01:02] linxq commented on #26
毕竟这个是seajs的延伸大部分还是前端在研究这个地方，nodejs本来就不是熟悉。

[2013-04-16 07:56] dragonzu opened #27 "需求：不生成-debug文件"
需求：不生成-debug文件
貌似以前可以通过设置with-debug属性去掉，现在如果实现呢？只能自己写grunt任务吗？

[2013-04-16 08:20] linxq commented on #26
在做 concat 合并的文件的时候， 如果a.js依赖b.js,b.js依赖于c.js.可以在a的合拼时把c.js合拼下来吗 @xuhuan @lepture @popomore @hellolibo @leoner ，请各位大侠讲解下。

[2013-04-16 08:37] hellolibo commented on #26
@linxq 可以的啊，你自己试一遍就知道了

[2013-04-16 11:11] lepture commented on #27
@dragonzu https://github.com/spmjs/spm2/issues/25

首先 spm2 将不会做构建工作了，专注于做包管理，与 https://spmjs.org 通讯。

针对你的问题，你所构建的是发行包？是通过 package.json spm build 出来的？

如果是的话，那是必须要有 debug 文件的。如果你既要用 package.json build 出来，又不想要 debug 文件的话，你可以先 build 出来后再删掉 debug 文件。

[2013-04-17 01:01] linxq commented on #26
//a.js
define(function(require) {
    require('./b');
    console.log(a);
});
// b.js
define(function(require) {
    require('./c');
    console.log(b);
});
// c.js
define(function(require) {
    console.log(c);
});

Gruntfile 为
    concat: {
        all: {
            options: {
              include: 'all',
              // the modules path
              paths: ['web']
            },

[2013-04-17 01:39] roshanca commented on #26
确实，现在 `spm build` 完，就不知道该咋整了。。。无法部署到本地，也无法 `publish` 到网上(ಥ_ಥ)

[2013-04-17 01:41] dragonzu commented on #27
哦，我看seajs官网推荐的构建工具也变成了 Grunt ，那看样子 spm 对 seajs 的支持只会当做一个功能来做，而不是专属于seajs的package manager，要做成类似 npm 是这个意思吧？！

[2013-04-17 01:41] #27 closed, assigned to nobody

[2013-04-17 02:23] lepture commented on #27
@dragonzu 是的， spm 不是构建工具，是包管理。

你需要的是：

https://github.com/spmjs/grunt-cmd-transport
https://github.com/spmjs/grunt-cmd-concat
https://github.com/spmjs/spm-build

[2013-04-17 02:25] lepture commented on #26
@linxq 建议看一下 http://github.github.com/github-flavored-markdown/ 排版好代码。

[2013-04-17 02:38] linxq commented on #26
谢谢，你的建议很好。我们回到这个问题上是不是可以依赖合拼 c.js哪。

//a.js

[code]

// b.js

[code]

// c.js

[code]

Gruntfile 为

[code]

合并完成 all.js

[code]

其中没有c.js的内容。

@hellolibo
@lepture

[2013-04-17 02:56] lepture commented on #26
@linxq 你需要先 https://github.com/spmjs/grunt-cmd-transport 再 concat

[2013-04-17 03:03] linxq commented on #26
恩 问题解决了，是我transport完的文件和concat的需要的a.js不同导致的问题。谢谢 @lepture

[2013-04-17 11:59] xyhp915 opened #28 "对合并.tpl后缀模板文件问题？"
[code]

[code]

[2013-04-17 12:00] lepture commented on #28
what is your problem? how to reproduce your problem?

[2013-04-17 12:02] xyhp915 commented on #28
[code]

spm build 有警告，spm2对模板文件有做处理吗？

[2013-04-22 07:56] yyy651016236 commented on #12
提问：使用spm install gallery/jquery@1.8.2报错是怎么回事?之前一直是好好的，google了半天没找到原因。
        install: gallery/jquery@1.8.2
        fetch: gallery/jquery@1.8.2
        yuan: not found
        warn: not in cache
        clone: git://github.com/gallery/jquery.git
        execute: git clone git://github.com/gallery/jquery.git $CWD.spm\src\gallery\jquery
        error: Command failed: fatal: could not create work tre

[2013-04-22 08:49] lepture commented on #12
@yyy651016236

[code]

[code]

[code]

[2013-04-22 08:52] yyy651016236 commented on #12
谢谢！以前的地址不能用了吗？只能先searche？

[2013-04-22 09:04] lepture commented on #12
@yyy651016236 jquery is now located at `jquery/jquery`

https://spmjs.org/jquery/

[2013-04-22 11:48] lepture opened #29 "spm 2.1.0 发布日志"
## spm build 迁出

spm 是一个包管理器，不是构建工具。为了不再解释这一点，将 spm build 迁移成单独的库，spm build 不随 spm 一起发布。

https://github.com/spmjs/spm2/issues/25

如果你需要 spm build 的功能，可安装 spm-build:

[code]
## spm install
1. 修复了一个 spm install 在 package.json 无依赖时的 bug
2. 修正了 spm install 的 cache 和 force 行为
3. 增加了全局安装选项： spm install -g
## spm tree
1. 修复了一个 spm tree 的 bug
## spm info
1. 修正了 spm info 的错误提示信息

[2013-04-23 06:52] #28 closed, assigned to nobody

[2013-04-27 08:17] tonyc726 commented on #18
spm2 上的jquery，应该是没有转换过的吧？
另外 `jquery/jquery` 这样的目录有点疑惑啊？不知道它属属于`lib`还是`gallery`的？

[2013-04-27 08:20] tonyc726 commented on #14
@lepture
如果需要自动提示的话，是需要在`.spm`下配置`config.json`么？
提示后自动更新需要如何实现呢？

[2013-04-27 14:46] hellolibo commented on #18
@tonyc620  我也很好奇jquery下面再jquery，而不是在gallery里，这样是出于什么考虑的。

[2013-04-28 00:57] xuhuan opened #30 "require相对路径打包问题"
代码里有 require('./bar') 这种形式的打包就通不过，一定要require('bar')这种形式才能打包通过，有没有人知道什么原因，用的最新的spm2。现在只能通过在package.json设置别名来实现。文件数少的情况下还好，文件数太多的时候太麻烦了，要手工一个个添加。
还有在transport 的时候可以使用下面的形式
 files : [
            {
                cwd : 'styles',
                src : '*_/_',
                filter : 'isFile',
                dest : '.build/styles'
            }
        ]

在concat的时候就不行了，要用
files: {
          'dist/m

[2013-05-07 06:41] lepture commented on #18
@hellolibo https://spmjs.org/jquery/

[2013-05-07 06:41] #18 closed, assigned to nobody

[2013-05-07 06:53] hellolibo commented on #18
明白了，我的处理是jquery 目录再加一个 jquery-plugin 目录

[2013-05-09 08:50] hotoo opened #31 "MacVim 生成的临时备份文件导致 watch 崩溃"
[code]

[2013-05-10 07:48] lepture commented on #31
this is not an issue related to spm.

[2013-05-10 07:48] #31 closed, assigned to nobody

[2013-05-10 08:47] LeoYuan commented on #26
感觉你们几个人扛起了通用组所有的开源项目， **牛逼** ！~佩服
不过你们还是好好考虑一下人力这个问题，虽然说大家可以出一份力，
但是毕竟大家不可能付出太多心血在 _贡献_ 上，因为我们也有自己的工作要做。
记得开始使用`spm`时，是摸爬滚打一路过来的，当时文档也不齐全，通过跟@leoner的交流，以及阅读部分源码，也算能做事，
今天想切`spm2`，看得我一头雾水，细节先不说，能不能至少给个完整的例子，里边的grunt task可以先不详细解释，没有整体概念的铺述，对使用者的理解、使用都造成巨大的障碍。

[2013-05-14 09:17] pushiming opened #33 "CSS 中引用 spm 包形式 CSS 库的最佳实践？"
## 场景

在应用的某个 page-level css 中，需要引用 spm 源中提交过的底层样式库，比如 alice/base
## 目录结构

如下

[code]
## 问题

我如何保证在 开发状态（引用 src）和 部署状态（引用 dist）下都能成功 `@import` 到 alice/base？
- 根据 #4 中所示使用顶级标识的方式来引用

[code]

  则在 build 后（使用 grunt-cmd-xxx）一切正常，但是这种方式下，开发模式下显然是引用不到文件的……
- 如果使用相对路径的方式来引用，即在 index.css 中

[code]

  在开发状态下自然是毫无问题的，但是在 build 的时候又很不优雅

所以，有没有一个两全其美的方案？

[2013-05-14 13:03] afc163 commented on #33
可以参照 AliceUI 的静态文档实现方式：http://aliceui.org/button-dropdown/

主要做法是手动引用 src/button-dropdown.css 文件。（相当于 Arale 中的`seajs.use('../src/example')`）

然后文档模板读取 [package.json](https://github.com/aliceui/button-dropdown/blob/master/package.json#L21) 里的 alias 属性来获得它的依赖并`seajs.use`进来，从而载入依赖。

---

上面是目前的做法。

想了一下，其实可以包装下 `seajs.use` 来提前获取 css 文件中的依赖信息（和解析require('xxx')类似），然后自动载入进来。这个后续可以尝试做一个 `seajs-plugin` 来帮

[2013-05-15 02:27] pushiming commented on #33
@afc163 首先非常感谢详尽的解答……但是说实话这段话真的不大容易看明白，不过大致还是明白了。是否简单来说的处理手段就是：通过一定办法得到依赖信息后，让 seajs 去取
但是，我直观感觉的几个问题是
1. 太依赖于配置。这样造成的后果是：理解困难，实现复杂
2. 在实现机制上觉得是比较曲线救国的做法，换句话说，比较绕。理想的做法是，js 的依赖由 js 完成，css 的依赖由 css 完成，而让 js 去做本来应该是 css 做的事情，感觉不自然，越俎代庖了
3. 上述做法还带了的一个后果就是，原本 css 中的 `@import "button"` 被 404 了。如图

   ![404](https://f.cloud.github.com/assets/340307/504941/c2aa9872-bd04-11e2-8f02-556b515daf21.jpg)

   如果

[2013-05-15 03:17] afc163 commented on #33
1. 多层依赖我们是支持的，详细见：https://github.com/aliceui/example 。如果你的目录有问题，请在线上放出能重现问题的包。
2. 相对路径我们不修正，一律采用绝对路径。如果有修正相对路径的需求，请自行编写 `grunt task`。

[2013-05-15 06:14] pushiming commented on #33
由于沟通成本关系，中间的讨论未在 github 这里进行……

咳咳，截止目前，关于提出的 grunt-cmd-concat 问题的结论是
1. 多层依赖的那个问题，确认是个 bug，修复进行中……
2. 相对路径修正的问题，确认 spm 组不修正，可能后续我自己修改后提交 pr 进来

[2013-05-21 10:27] zicjin opened #34 "在nodejs for win 中好像无法在 ~\.spm\ 下创建任何目录。"
install 任何东西都报错：
error: Command failed: fatal: could not create work tree dir '~.spm\src\gallery\mustache'.: No such file or directory

[2013-05-21 15:09] zicjin opened #35 "在win下 npm install spm-build -g 是报错的"
![image](https://f.cloud.github.com/assets/199482/542739/ab2f9aec-c229-11e2-9470-02893c8c09a7.png)
还生成了一个[npm-debug.log](http://sdrv.ms/13EW3iQ)

[2013-05-22 00:42] lepture commented on #35
This is absolutely a npm bug.

[2013-05-22 01:23] zicjin opened #36 "package.json 的spm -> "source": "src" 配置节无效"
不管更改为什么都只认“src”

[2013-05-22 02:56] afc163 opened #37 "指定的源参数支持 url"
现在必须这么写：

[code]

希望能：

[code]

[2013-05-22 06:23] #34 closed, assigned to lepture

[2013-05-22 06:31] #35 closed, assigned to nobody

[2013-05-22 06:32] zicjin opened #38 "请问package.json中怎样配置才能指定某个模块不被合并？"
以前有output -> exclude配置

[2013-05-22 06:33] zicjin opened #39 "package.json中怎样配置才能指定某个模块不被合并？"
以前有output -> exclude配置

[2013-05-22 06:37] #38 closed, assigned to nobody

[2013-05-22 06:37] afc163 commented on #37
并且配置了多个别名的同一个源，其 auth 信息无法互通。

[2013-05-22 06:50] popomore commented on #37
yuan.alipay.im 需要 auth？

[2013-05-22 06:51] afc163 commented on #37
不需要，default 和 spmjs 需要

[2013-05-22 06:52] popomore commented on #37
互通也不好，逻辑会很混乱

[2013-05-22 06:54] afc163 commented on #37
key 应该是 url ， 本来就应该是唯一的，和 auth 信息一一对应。别名是可以多个。

[2013-05-22 07:07] popomore commented on #37
那就是说可以设别名 spmjs 指向 default

[2013-05-22 07:21] lepture commented on #39
不允许这种情况。

[2013-05-22 07:21] lepture commented on #39
出现这种情况，它应该被拆成两个。

[2013-05-22 07:21] #39 closed, assigned to nobody

[2013-05-22 07:22] lepture commented on #34
？

[2013-05-22 07:27] zicjin commented on #39
那像
require("arale/easing-debug");
这种模块默认依然是不被合并的（这和spm1的策略一样）。我怎样才能让它被合并呢？

[2013-05-22 07:52] lepture commented on #39
@zicjin

[code]

There is an `include` option.

[code]

[2013-05-22 08:05] zicjin commented on #39
很蛋疼，比如我加载了这两个使用顶级路径的模块：
_ = require('gallery/underscore')
Popup = require('arale/popup')

我希望underscore不被合并，而popup能够被合并。难道需要我把popup拷贝至一个相对路径？
如果使用相对路径引用了popup，它所依赖的其他arale模块（使用了顶级路径）会被合并吗？

[2013-05-22 08:07] zicjin commented on #39
还有，help里没有指明有哪些include属性值，除了relative、all以外还有其它的吗？

[2013-05-22 08:09] lepture commented on #39
@zicjin include is the option for concat: grunt-cmd-concat

spm-build is a pre-configuration for grunt-cmd-transport, grunt-cmd-concat, and many more tasks.

https://github.com/spmjs/spm-build

You should use a Gruntfile to do the customized build.

[2013-05-22 08:18] #36 closed, assigned to nobody

[2013-05-22 08:22] lepture commented on #36
not published yet. This is an issue related to spm-build.

[2013-05-22 12:26] zicjin opened #40 "怎样让spm配置回复默认值？"
我修改过install.format 后就不知道怎样改回默认值了，设置：{{family}}/{{name}}/{{version}}/{{filename}} 是会报错的

[2013-05-22 12:31] allan852 opened #41 "spm 1.7.3 build 和 deploy 报错，如果升级到2.1应该怎么使用？"
目前正在使用的是  spm 1.7.3，之前一直打包和部署都ok， 今天上线时，报如下错误

用浏览器访问  http://modules.spmjs.org/config.json ，没有结果（打不开）， 翻墙也不行。

导致的问题是 js 代码不能build， 也不能deploy

之前的用法是参照（https://github.com/spmjs/spm/wiki/Hello-spm%EF%BC%9A%E4%BD%BF%E7%94%A8-spm-%E5%92%8C-SeaJS-%E5%BC%80%E5%8F%91%E4%B8%80%E4%B8%AA%E4%B8%AD%E5%9E%8B%E9%A1%B9%E7%9B%AE）：

现在已经不能正常使用。

两个问题：
1. 如果保持上面的用法，应该如何修复问题？
2. 如果升级到2.0，应该怎样操作或使用才能达到上面一样的效果？（是否有文

[2013-05-22 12:34] lepture commented on #40
删掉吧

[2013-05-23 00:35] edokeh commented on #39
这种有个变态的办法，就是通过alias 将普通路径的模块转为顶级标识，这样合并时候就能 exclude 了

[2013-05-24 03:00] allan852 commented on #41
尝试了新版，但是spm-build模块无法安装。

[2013-05-24 03:06] afc163 commented on #41
你应该继续使用 spm 1.x 版本。并删掉 ~/.spm/config.json 里面 source 里的 modules.spmjs.org 配置。

@lepture @popomore

[2013-05-24 06:00] allan852 commented on #41
尝试了一下，成功build 和deploy。但是会报一个 warn， 如下：

谢谢！ 先这样用着，到时间升级到2.x。

[2013-05-24 06:00] #41 closed, assigned to nobody

[2013-05-24 07:18] jsvii opened #42 "内部的spm info，spm install都是拿的走的git:这样的请求么？怎样改为http://的"
好像里面的资源install都是走的git吧
公司网络有代理好像就拿不到这个了，每执行到git clone git://时都报不存在这个端口，请问有方法解决么？

[2013-06-04 09:14] jsvii commented on #42
我说得不对么，为什么没有人回答这个问题？？？？

[2013-06-04 09:17] popomore commented on #42
install 是 https 的

[2013-06-04 09:18] afc163 commented on #42
http://www.google.com.hk/search?q=git+%E4%BB%A3%E7%90%86&ie=utf-8&oe=utf-8&aq=t&rls=org.mozilla:zh-CN:official&client=firefox-beta

[2013-06-04 09:56] afc163 opened #43 "清理下 issue 吧"
为了让 @lepture 清理 issue，我建了这个 issue。

[2013-06-04 12:40] #29 closed, assigned to nobody

[2013-06-04 12:40] #30 closed, assigned to nobody

[2013-06-04 12:40] #40 closed, assigned to nobody

[2013-06-04 13:07] jiangyuan commented on #43
为了让 @lepture 清理 issue ，我顶顶这个 issue 。

[2013-06-05 02:35] edokeh commented on #42
spm install 在连不上 yuan 或者在 yuan 上面找不到资源的时候，会从 git 取资源
你的问题解决办法是需要先设置一下HTTP代理

[2013-06-05 03:16] edokeh opened #44 "希望 spm install 将 tar 文件缓存到 cache 目录时也下载一份 index.json"
最近想了一下，觉得 tiny-yuan 的方式不太好，还是喜欢以前 spm server 的方式
看了下 .spm/cache 目录里面的结构是符合要求的，只是缺少一个 index.json
如果能在 install 的时候，顺便将每个 package 对应的 index.json 下载下来，实现个简易的 spm server 就很容易了

[2013-06-05 08:23] popomore opened #45 "文档支持历史版本"
publish 文档的时候如果打了 tag，可以查看这个 tag 的内容

[2013-06-05 09:42] afc163 commented on #45
最好是自动打 tag，每当 publish-doc 时，自动更新 master 和 对应的 tag。

[2013-06-07 10:11] afc163 opened #46 "spm info 显示更多信息"
目前看来，`publish time`、`dependencies`、`author` 需要显示。

[2013-06-08 07:06] edokeh opened #47 "spm server 又回来了"
写了个插件，用于实现原来 spm server 的功能，通过 cache 目录里的文件提供服务
参见 https://github.com/edokeh/spm-tiny-yuan

[2013-06-08 07:07] edokeh commented on #47
还是希望能够实现 #44 的功能，这样就不用自己去下载了

[2013-06-08 07:08] #44 closed, assigned to nobody

[2013-06-08 07:55] lepture commented on #47
@edokeh 要不改名为 spm-yuan 吧，然后把项目迁移到 spmjs 来！

[2013-06-08 07:57] popomore commented on #47
fork 一下呗

[2013-06-08 08:05] lepture commented on #47
@popomore 需要有人维护， fork 不太好。已加 @edokeh 到 spmjs。

[2013-06-08 08:06] edokeh commented on #47
好的

[2013-06-08 08:13] edokeh commented on #47
没玩过 Organizations，求科普。。。

[2013-06-08 08:15] popomore commented on #47
settings 最下面有个 transfer

https://github.com/edokeh/spm-tiny-yuan/settings

[2013-06-08 08:27] edokeh commented on #47
@popomore
无权限。。。

[2013-06-08 08:29] lepture commented on #47
@edokeh 分配该库的 admin 权限给我，我来 transfer

[2013-06-08 09:02] edokeh commented on #47
@lepture
我在 Collaborators 里面加了你，这样 OK 了不？
还是要 Transfer Ownership ？

[2013-06-08 09:12] lepture commented on #47
@edokeh  Transfer Ownership

[2013-06-08 11:43] edokeh commented on #47
@lepture 已 transfer

[2013-06-09 11:30] popomore commented on #47
完成咯

[2013-06-09 11:30] #47 closed, assigned to nobody

[2013-06-09 11:31] popomore commented on #42
@GoodLuckBamboo 这个有帮你解决么

[2013-06-09 11:47] #15 closed, assigned to nobody

[2013-06-09 11:58] popomore opened #48 "transport 找不到依赖触发事件"
a.js

[code]

package.json

[code]

现在找不到并不会报错，仍然继续执行，但是生成的文件是有问题的。所以希望触发一个事件或者直接报错。

[2013-06-09 12:00] popomore commented on #43
<del>- [ ] https://github.com/spmjs/cmd-util/issues/3</del>

[2013-06-09 14:41] popomore commented on #43
- [x] https://github.com/spmjs/grunt-cmd-transport/issues/24

[2013-06-09 14:42] popomore commented on #43
- [x] https://github.com/spmjs/spm-build/issues/22

[2013-06-09 14:42] popomore commented on #43
- [x] https://github.com/spmjs/spm-build/issues/21

[2013-06-18 08:12] afc163 commented on #46
已解决。

[2013-06-18 08:12] #46 closed, assigned to nobody

[2013-06-18 08:13] afc163 commented on #33
https://github.com/spmjs/grunt-cmd-concat/issues/15

[2013-06-18 08:13] #33 closed, assigned to nobody

[2013-06-19 08:25] lepture commented on #48
done in transport.

[2013-06-19 08:25] #48 closed, assigned to lepture

[2013-06-19 08:52] #42 closed, assigned to nobody

[2013-06-24 12:00] afc163 opened #49 "spm -V 时多显示了一行"
`spm 2.1.3` 版本

[code]

[2013-06-25 01:12] edokeh opened #50 "还会有 spm transport 吗？"
虽然 Grunt 也能用，但是有些情况下 transport 更方便一点

[2013-06-25 07:29] popomore opened #51 "希望 install 有错时能抛出来"
[code]

[2013-06-25 07:41] popomore opened #52 "配置文件支持 include"
现在可以通过 `spm build --include` 指定打包方式，希望可以在配置文件配置。

package.json

[code]

[2013-06-25 07:42] popomore commented on #45
已经完成

[2013-06-25 07:42] #45 closed, assigned to nobody

[2013-06-25 07:54] #52 closed, assigned to nobody

[2013-06-25 07:57] #51 closed, assigned to nobody

[2013-06-25 09:20] afc163 commented on #45
例子可以查看：http://aralejs.org/dialog/

获取功能：安装 spm@2.1.3 版本，并使用 `spm publish --doc _site` 发布一个文档。

[2013-06-26 15:49] popomore opened #53 "import css 支持绝对路径"
转到这里吧  https://github.com/spmjs/cmd-util/issues/3

a.css

[code]

build 后会把 import 的合并起来

[2013-06-27 06:20] popomore commented on #53
这个对于 concat 有很大的改动，需要把同步的写法都改异步的。公司内部的需求也没有那么大，所以暂时先不做了。

[2013-06-27 06:20] #53 closed, assigned to nobody

[2013-06-27 08:13] popomore opened #54 "concat 的 css2js 移到 transport 中"
现在 css2js 有两部分，功能都是把 css 转换成 js

[code]
1. 相对的 css

   这部分是在 transport 中做的，会把本地的 poptip.css 转换成 poptip.css.js。
2. 外部的 css

   在 transport 中不会处理，在 concat 的时候才会读取文件合并。处理还是会调用 transport 的 css2js 方法。

其实这两部分是可以合并的，代码放在一起便于管理，会比较统一，而且可以公用 transport 的参数。

[2013-07-04 04:09] jsvii opened #55 "为什么代理网络用不了spm install，无法走git协议"
我工作的地方，网络是有代理的，只能走http和https协议，spm也可以安装的，但是一执行到git clone git:// 这个命令时，就会问题。

我这里git  clone git://something 是走不了的，因为代理网络不能走这个协议。

git clone http://somethin也是可以的，为什么spm内部不这样子做？

[2013-07-04 04:19] popomore commented on #55
应该是安装的问题咯，安装时要加 family，如 `spm install gallery/handlebars`

[2013-07-04 04:28] afc163 commented on #55
spm 的版本可能比较低，原来在找不到模块时，会去猜一个 github 的地址。

新版取消了这个特性，建议升级。

[2013-07-04 05:00] edokeh commented on #55
之前看过 spm2 代码，貌似不支持代理
https://github.com/spmjs/spm2/blob/master/lib/sdk/yuan.js#L70
这里虽然有支持，但是外部调用的时候没看到有方式能够传入 proxy 参数

[2013-07-04 05:19] jsvii commented on #55
@edokeh  谢谢哈～
这个是不能实现，还是做不到啊？
我的npm 是可以设置代理的。觉得spm这么弄应该不麻烦的，麻烦spm团队支持一下这个性能。

[2013-07-04 06:14] edokeh commented on #55
@GoodLuckBamboo
临时的做法是，可以打开本机上的这个文件直接修改一下这行代码

[2013-07-04 09:28] lepture commented on #55
@GoodLuckBamboo @edokeh 改成从环境变量获取？

[2013-07-04 11:51] edokeh commented on #55
还是用参数吧，自由一点

[2013-07-05 06:24] popomore commented on #50
想做，但是外部模块千奇百怪，很多需要修改代码，还没抽象出一个很好模型 https://github.com/spmjs/apm/issues/11

[2013-07-05 06:29] afc163 commented on #50
@edokeh 有啥想法没，https://github.com/cmdjs/gallery 里面的模块包装方式基本都不太一样，看看有没有什么好方法。（白名单？）

[2013-07-05 12:58] edokeh commented on #50
貌似没啥好办法，但是把以前的 transport 弄回来起码能解决 60% 的情况，已经足够了，其他就自己写 Grunt 吧

[2013-07-08 16:10] foxling opened #56 "请问，没有 jQuery 2.0 的包？"

[2013-07-09 09:35] lchuilu opened #57 "使用 spm2 build时报错"
$ spm build
execvp(): No such file or directory

[2013-07-09 09:36] popomore commented on #57
是不是没有 src 目录

[2013-07-09 09:43] lchuilu commented on #57
@popomore   有 src目录，

[2013-07-09 09:48] afc163 commented on #57
请给出详尽的信息。

[2013-07-09 11:29] popomore commented on #57
同上，不清楚情况无法帮你

[2013-07-09 23:50] lepture commented on #57
@afc163 @lchuilu 这个是 child_process.exec 没找到相应的 bin 文件。个人猜想解决方案是：
1. 升级 spm 到最新版
2. 按照提示，还需要额外安装 spm-build

[2013-07-10 09:43] tiye opened #58 "spmjs/spm 仓库中的 Wiki 和 spm2 是否有对应?"
之前的文档是 outdated 还是已经根据新的 spm2 做了修改呢?
https://github.com/spmjs/spm/wiki/_pages

[2013-07-10 09:44] afc163 commented on #58
原来的文档已经全部 outdated 了。

[2013-07-10 09:59] tiye commented on #58
@afc163 再问下现有的 SPM 可以参考的文档是否有方便直接查找的列表的列表呢?
除了 docs.spm.org 和 spm2 issue 里以外, Google 到的文档有一些, 但并不明白怎么区分是否在 2 可用

[2013-07-10 10:03] afc163 commented on #58
最新可用的文档就是这个了：http://docs.spmjs.org/

相关的具体应用文档也可以参考 Arale 和 Alice 。

http://aralejs.org/docs/installation.html
http://aralejs.org/docs/develop-components.html
http://aliceui.org/docs/build.html

Google 到的文档，如果出现 spm 1.x.x 的版本（或更低）字样的，则不适用于最新版本。

[2013-07-10 10:12] tiye commented on #58
@afc163 Thanks.

[2013-07-10 10:12] #58 closed, assigned to nobody

[2013-07-11 13:55] popomore commented on #57
问题解决了么？

[2013-07-12 09:18] lchuilu commented on #57
已解决， 升级了 node 和 重装了spm 和spm-build ，不过使用的时候不能用 spm build 需要用 spm-build，不知道何故。

[2013-07-12 16:53] popomore commented on #57
先安装 spm 再安装 spm-build 应该 ok

[2013-07-12 16:53] #57 closed, assigned to nobody

[2013-07-12 17:14] #43 closed, assigned to lepture

[2013-07-14 15:21] afc163 commented on #56
暂时还没有，可以尝试给我们一个 pull request

https://github.com/cmdjs/jquery

[2013-07-17 03:12] lcat commented on #38
为什么没回答就被关闭了？

[2013-07-17 03:44] afc163 commented on #38
是楼主自己关的。

[2013-07-17 03:45] popomore commented on #38
不被合并就不配 alias 呗

[2013-07-17 14:10] #56 closed, assigned to nobody

[2013-07-22 01:09] billwing opened #59 "jquery-plugin / form install 不了"
spm install jquery-plugin/form
为什么这个包install的时候报错了？

[2013-07-22 02:51] afc163 commented on #59
报什么错？我这里亲测是好的。

[2013-07-22 03:11] lepture commented on #59
@afc163 一个 dependency 的问题。

@Billwing Install the new one.

[2013-07-22 04:34] redchair123 opened #60 "LICENSE?"
add to package.json

[2013-07-22 05:14] billwing commented on #59
呃，还是有问题，是我环境问题？
![spm error](https://f.cloud.github.com/assets/3411815/833106/8c03f034-f28d-11e2-9e96-b6bb4cfe427a.png)

[2013-07-22 05:24] billwing commented on #59
@lepture 嗯嗯，现在可以了~

[2013-07-22 05:24] #59 closed, assigned to nobody

[2013-07-23 11:13] afc163 commented on #37
issues-center/issues#1

[2013-07-23 11:15] afc163 commented on #54
issues-center/issues#1

[2013-07-24 05:35] jpuncle opened #61 "spm install 的 -d 参数的默认值可以是当前目录么？"
自动添加一个 sea-modules 挺怪的

[2013-07-24 05:36] popomore commented on #61
就跟 component，npm 是一样的，只是这个目录我们自己定义了

[2013-07-24 10:44] afc163 opened #62 "spm tree 应该支持指定模块"
[code]

[2013-07-25 01:27] X-Bird commented on #62
问一下，spm tree 输出的时候，有一些模块显示的是黄色的，是什么意思？

[2013-07-25 01:54] lepture commented on #62
@X-Bird 表示同一模块存在不同版本

[2013-07-25 02:18] X-Bird commented on #26
现在 docs.spmjs.org 上已经有两篇比较还可以的grunt构建文档了，但是我有个疑问，因为自己的代码依赖了aralejs，transport之后，concat all 显示找不到 $ 模块 ，找不到，jquery 模块。
去翻arale 里面的模块代码，发现里面即使构建好的模块写的 require('$')，我把它改成模块的路径 require('jquery/jquery/1.10.1/jquery')，concat的时候就不会出现那个提示了。
问一下，这种 alias 配置在 transport 的时候配置就有效，为什么concat 的时候就不能配置 alias ？

[2013-07-25 02:33] popomore commented on #26
concat 只有 include:all 的时候才会报错吧，说明要合并的文件找不到，这个警告也是正常的吧。

[2013-07-25 03:01] X-Bird commented on #26
@popomore 是的，就是个警告，但是有这个警告的话，include all 就没有意义啦，有办法给concat配置alias吗？

[2013-07-25 03:13] popomore commented on #26
为啥呢，arale 是故意不想把 jquery 打包进来的。

[2013-07-25 03:59] sarike opened #63 "Spm2中parent不能用了吗？"
在http://docs.spmjs.org/en/package 中也没有看到这个属性的介绍。
是被移除了吗？

[2013-07-25 04:05] popomore commented on #63
没有这个功能了

[2013-07-25 05:09] X-Bird commented on #26
@popomore 至少给用户提供个选择啊，我就想首页除了一个 seajs 的 script 请求，外加一个 业务script 请求，不想再多一个jquery请求，如果可以把 jquery 打包进来，还可以配合百度 fis 的 map.json 做一些自定义的输出啊

[2013-07-25 05:12] popomore commented on #26
那你就自己 require 个 jquery 打包进去好了，在页面上再配置下 $ 的 alias。

[2013-07-25 08:29] X-Bird commented on #26
@popomore 这个已经明白了，只是arale里面的就得手动改，谢谢～希望seajs越来越好～

[2013-07-25 08:32] popomore commented on #26
arale 里面的保留 $ 就可以，在页面上配的 $ 的 alias，这样也不会重复请求的。

[2013-07-25 08:34] X-Bird commented on #26
@popomore 对哦！我居然用的map去map到一个已经具备标识的jquery模块上。你这样好多了！thx～八错～～今天有收获～

[2013-07-25 08:35] popomore commented on #26
@xuhuan 下个月会开始整理文档，但是个性化的需求还是要用 grunt 完成，spm-build 是建立在我们的解决方案之上的，如果觉得 ok 也可以使用。

[2013-07-25 08:35] #26 closed, assigned to nobody

[2013-07-25 08:35] #63 closed, assigned to nobody

[2013-07-25 08:49] #61 closed, assigned to nobody

[2013-07-25 08:55] #55 closed, assigned to nobody

[2013-07-25 09:16] sarike commented on #63
为什么会去掉这个功能呢？如果有大量相同的配置，要在每个文件里都配置一次吗？

[2013-07-25 09:21] popomore commented on #63
第一，如果使用 parent，这样模块的信息是不完备的，如果发布到源上问题会更多。

其次，package.json 是一个描述文件，一般不会修改的，你可以写个初始化脚本来生成，一点也不麻烦。

[2013-07-25 12:18] sarike commented on #63
理解了，spm2是把一个package.json对应一个可以单独发布的模块了

[2013-07-26 09:48] fengbingji opened #64 "Cannot find module 'spm-grunt'"
执行 spm doc watch的时候出现
Error: Cannot find module 'spm-grunt'

[2013-07-26 09:58] afc163 commented on #64
有完整 log 信息吗，还有 spm 和 spm-doc 的版本，还有 spm 插件的安装情况。

[code]

[2013-07-27 11:46] ghost opened #65 "Typo"
http://docs.spmjs.org/contrib/build-with-grunt

最下面的：

好像应该是：

[2013-07-29 01:23] sarike opened #66 "spm2合并js文件的时候只是按照依赖来合并的吗？"
项目中原来用的是spm1.7.3，我想升级成spm2
项目中有个package.json在配置output的时候是把好多js文件合并到一个新的文件中去。
我看了下spm2的文档，貌似没有类似的功能，那么在不修改我页面中调用的情况下，我该如何做呢？

[2013-07-29 01:41] sarike commented on #66
有办法了，我单独创建这些文件，然后添加对其它文件的依赖。
貌似没有什么问题吧，而且这样不会有种莫名无中生有的感觉。

[2013-07-29 01:41] #66 closed, assigned to nobody

[2013-07-29 01:56] lepture commented on #66
@sarike You got it.

[2013-07-29 03:03] fengbingji commented on #64
C:\Users\Administrator>spm -V
2.1.9

C:\Users\Administrator>spm-doc -V

module.js:340
    throw err;
    ^
Error: Cannot find module 'spm-grunt'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at require (module.js:380:17)
    at Object.<anonymous> (C:\Users\Administrator\AppData\Roaming\npm\nod

[2013-07-29 03:37] #64 closed, assigned to nobody

[2013-07-29 06:14] jpuncle opened #67 "使用 spm2 打包 seajs/examples 时的一些疑惑"
### HTML 分析

以 `hello.html` 为例，通过 `seajs.config()` 配置模块别名，

[code]

（BTW, 个人认为 `base` 配置多余了。）

然后，使用一段代码来区分开发环境和线上环境，

[code]

第一个疑问是我不理解为什么要使用 `main` ，个人很不喜欢这个 ，如果文件名改成 `hello.js` ，那么代码可以这么写，

[code]

还有一点疑问就是，难道每个 HTML 页面中都要写上这种环境切换的代码么？有没有更好的办法？
### 打包分析

一段日子不接触，发现打包的方式改变了，首先是多了一个 `"family": "examples"`，它的用意还是比较明显的，为了防止你直接将你的模块放到 `sea-modules` 中而导致命名冲突，你可以定义一个自己的 `family` 。

[code]

然后呢，你可以切换到

[2013-07-29 06:56] lifesinger commented on #67
`make deploy` 是纯示范，非真实使用场景

真实使用时，本地部署用 `spm deploy --target  path/to/xxx`

[2013-07-29 07:16] afc163 commented on #67
1. config.base 是多余的。
2. main.js 的命名是没什么讲究的，当然也可以命名为 hello.js。但是 `seajs.use("../static/hello")` 应该是不行的，Sea.js 是不会去猜你的路径，还是需要给全文件的地址： `seajs.use("../static/hello/src/hello")`。
3. 可以用自定义事件的方式来动态判断线上线下环境。（下面代码经测可用）

[code]

   然后在页面上只需要统一写 `seajs.use('examples/hello/1.0.0/main')` 即可。
4. 例子里的 Makefile 的确是一种方式，不过看上去比较恶心。我们有过类似的讨论，你可以看看此帖：https://github.com/spmjs/spm-build/issues/29

[2013-07-29 07:19] afc163 commented on #67
这是我本地修改这个[文件](https://github.com/seajs/examples/blob/master/app/hello.html)后的源代码：

[code]

[2013-07-29 07:35] afc163 commented on #67
@lifesinger

deploy 不支持本地目录部署。

[2013-07-29 10:44] jpuncle commented on #67
@afc163

谢谢哈，第二个是我看错了，我的意思是不使用 `main` ，仅仅是指可以省略版本号的书写了。

对于第三点，学习了，开发时使用这个很不错，但是出现在线上会不会不太好，绕了那么多道道。比较好的是开发时使用类似的配置，上线后直接干掉该段代码。只不过是需要寻找比较好的方式。

[2013-07-30 06:43] #60 closed, assigned to nobody

[2013-07-30 10:29] jpuncle opened #68 "是否可以支持 spm install <family> 呢"
比如，`spm install arale` ，一个个的下挺不方便的，还要自己写脚本。

[2013-08-02 17:00] popomore commented on #68
`spm install arale` 的意思是 `spm install arale/arale`，安装同名组件。建议写个脚本提供出来，大家都可以用。

[2013-08-02 17:00] #68 closed, assigned to nobody

[2013-08-02 17:05] popomore commented on #67
已经解决了吧

[2013-08-02 17:05] #67 closed, assigned to nobody

[2013-08-02 18:09] popomore opened #69 "重新整理 spm 文档"
经过了近半年的开发，spm2 已经基本成形了，看到很多人已经从 spm1.x 迁移过来，感到很欣慰，但是很多人也遇到了问题，现在准备重新整理文档，最后会呈现在 http://docs.spmjs.org 上。

这个文档主要包括基本使用方式，支付宝的最佳实践，也包括使用 grunt 搭建小型项目。

希望曾经使用过 spm2 的人可以给出你的建议，也希望提供你们在使用的目录结构和配置，可以综合考虑。

---

补充
- [x] 首页介绍（目前是视频）
- [x] 配置及规范
  - 全局配置 spmrc
  - 模块配置 package.json
- [x] 命令行 安装，使用说明，选项
- [x] apm，支付宝工具套件
  - 使用 apm 配合 arale 开发
- [x] 开发指南，提供给 spm 开发者的文档
  - spm node api
  - 开发 plugin
- [

[2013-08-03 01:10] sarike commented on #69
这个必须顶呀，一直感觉一个比较好的开源项目，能不能成功关键看它有没有好的文档跟社区。
第一次参见工作，第一次接触到如此管理前端代码的工具，真心感觉很不错，希望spm2越来越好用……

[2013-08-06 00:36] jpuncle commented on #67
@popomore 最后结合 freemarker 编写了自定义宏来处理开发与线上环境的，谢谢哈

[2013-08-06 03:24] kfpanda commented on #69
前端开发，正需要这样的工具。

[2013-08-07 07:51] afc163 commented on #65
。。。

[2013-08-07 08:05] tiye commented on #65
还应该是 Grunt, 参考官网一律大写首字母 http://gruntjs.com/

[2013-08-07 12:22] popomore opened #70 "spm install 缓存的问题"
spm install 是如果当前目录已经有了则不会再下载，如

[code]

然后用 force 命令会重新取一次

[code]

但是如果不指定版本则没有缓存

[code]

既然每次 install 都会去 yuan 上取一次，那么为什么不先获取 stable 的版本值再判断是否缓存。 @lepture

[2013-08-07 13:03] popomore commented on #16
剩下的两个是不是都不用做了

[2013-08-07 13:32] popomore opened #71 "模块名处理整理"
现在模块名处理比较乱，比如

[code]

而且很多 plugin 都有自己的实现不统一，能否 spm 提供一个小方法统一处理，这样对使用者的认知更好。

[code]

[2013-08-08 10:18] lichunqiang commented on #12
spm版本2.1.10
环境是是windows。
我使用

[code]

报错了：

[code]

我使用

[code]

能成功，但是安装如jquery则失败，问题同上。

[2013-08-08 10:56] lichunqiang opened #72 "spm install发生错误"
系统环境是win7。
使用命令

[code]

报错：

[code]

该如何解决。多谢。

[2013-08-08 10:57] popomore commented on #72
[code]

看看你的配置

[2013-08-08 13:10] lichunqiang commented on #72
@popomore

[code]

[2013-08-08 13:12] popomore commented on #72
可能是你装了 apm 了

[code]

[2013-08-08 13:20] lichunqiang commented on #72
可以了。不过我没有印象装apm啊。
还有在这种情况下install seajs是成功的。
十分感谢！

[2013-08-08 13:21] #72 closed, assigned to nobody

[2013-08-09 06:33] lichunqiang commented on #71
+1 非常赞同。尤其是下载family下所有模块的功能！

[2013-08-09 07:47] lichunqiang opened #73 "spm build之后"
情形是这样的：
有一个`util`模块，目前`src`下只有一个`util.js`, 没有任何依赖。
经过`spm build`之后在dist下成功生成两个文件。
文件`define`的ID为`{myfamily}/{name}/{version}/xxx`
这个应该是相对sea-modules文件下的吧。那怎么才能把大部署到sea-modules文件下呢。`spm deploy`无法成功。（package.json中我设置了private）
另外一个问题，
如果我不想将自己的模块放到sea-modules文件下，该怎么配置呢。

[2013-08-09 07:50] popomore commented on #73
[code]

[2013-08-09 08:10] lichunqiang commented on #73
@popomore 执行`spm install`无任何输出，文件上也木有改变。
是不是我的package.json配置有问题？

[2013-08-09 08:17] popomore commented on #73
后面还有个点哦 :sparkles:

[2013-08-09 08:20] afc163 commented on #73
看看这个 issue https://github.com/spmjs/spm-build/issues/29

[2013-08-09 08:20] lichunqiang commented on #73
@popomore 不好意思，眼花了。这就试。

[2013-08-09 09:40] lichunqiang commented on #73
@afc163 非常有帮助的issue！
@popomore
通过`spm install . ../sea-modules`成功安装到指定目录。
但是问题有出现了。。。
另外一个模块，`hello`中依赖`util`，我在package.json配置`spm.alias.util = '{myfamily}/util/{version}/util'`,当在去执行`spm install .`的时候产生error了。

[code]

这个信息是不是在install的时候发现依赖，然后去yuan上找了，没找到就报错了。可是我这个util是本地的。

[2013-08-09 15:50] billwing opened #74 "npm install spm error EACCES"
![qq20130809-1](https://f.cloud.github.com/assets/3411815/939030/5a6416e4-010b-11e3-92c7-8da8b3f2bd89.png)

[2013-08-09 15:53] afc163 commented on #74
是这个问题：http://aralejs.org/docs/installation.html#%E5%8E%BB%E9%99%A4-sudo

[2013-08-09 16:02] billwing commented on #74
好的，解决了 :+1:

[2013-08-09 16:02] #74 closed, assigned to nobody

[2013-08-12 07:11] zixinhmc opened #75 "jquery是未模块话的"
现在用spm install jquery/jquery 拿到的jquery 1.10.1是未模块化的

[2013-08-12 07:15] afc163 commented on #69
需要一篇：《如何在系统中用 spm 进行静态文件开发》

[2013-08-12 12:06] popomore commented on #69
@afc163 准备把流程的东西抽出来放一问一答中，其他的如构建之类的还是一起写。

[2013-08-12 14:30] lichunqiang commented on #69
@popomore +1
偶的问题可怎么整啊。#73

[2013-08-12 14:33] lichunqiang commented on #75
是的吧。看最后几行代码。

[2013-08-12 14:34] popomore commented on #73
到 https://spmjs.org/ 注册一个账号，把你之前的 `myapp/util` 模块 publish 上去。

[2013-08-12 14:37] popomore commented on #75
@lichunqiang 说的对，use 下看看就知道了。

[2013-08-12 14:37] #75 closed, assigned to nobody

[2013-08-12 14:52] #73 closed, assigned to nobody

[2013-08-12 15:04] lichunqiang commented on #73
mark下，
可以通过`spm install . -g` 加上`-g`这个参数`install the package to ~./.spm/sea-modules`来解决上面的install失败的问题。

[2013-08-12 15:06] popomore commented on #73
:+1:  good idea

[2013-08-13 09:03] island205 opened #76 "‘Please set environment variable NODE_PATH’ error"
[code]

实际上我是配置了NODE_PATH的，只是我NODE_PATH的值为：`C:\Users\zhi.cun\AppData\Roaming\npm\node_modules;C:\Program Files (x86)\Subversion\bin`，导致https://github.com/spmjs/spm2/blob/master/lib/utils/program.js#L89 逻辑失效，这里的split是`:`，是不是应该换成`;`？

[2013-08-13 09:09] afc163 commented on #76
@lepture

[2013-08-13 09:20] lepture commented on #76
Thanks for your feedback.

[2013-08-13 09:21] island205 commented on #76
@lepture 可以解释下吗？

比如冒号':'是用在什么平台的？

[2013-08-13 09:27] popomore commented on #76
应该除了 windows 都是冒号吧

[2013-08-14 18:51] island205 opened #77 "spm、spm2和apm的异同"
正在写[HelloSea.js](https://github.com/Bodule/HelloSea.js)这本小书；当写道spm的时候，我本身并没有深入使用过这个工具，读了一些资料，下面是我的一些看法，希望各位大神帮忙看看不对的地方，也希望能够各位大大把自己的想法分享出来：

---
##### spm与spm2

其实之前介绍的spm是其第二个版本[spm2](https://github.com/spmjs/spm2)。spm的第一个版本可以在[这里](https://github.com/spmjs/spm)找到。

spm与spm2同样都是包管理工具，那它们之间有什么不同呢？
- 从定位上，spm2更加强调该工具是一个cmd包管理工具；
- 从提供的用户接口（cmd命令）spm2比起spm更加规范，作为包管理工具，在使用方式和命令都更趋同于npm；
- 在spm2中，构建命令以

[2013-08-15 00:47] lepture commented on #77
这里应该是 `spm` 吧。

不一定要用 apm，只是 apm 把所有要用到的插件都打包好了，同时相应的默认配置也为支付宝做了处理，方便内部员工使用，不用再配置了。

[2013-08-15 02:10] island205 commented on #77
@lepture 在代码和架构层面，spm2有什么变化？

[2013-08-15 03:22] popomore commented on #77
spm 和 spm2 在功能上基本是一致的，差异主要是在架构和代码组织上。

spm2 的代码结构比较复杂，不是三言两语能说清楚的，楼主的看法基本上都是我们的想法。
- spm2 更具有可扩展性，可以通过各种组合实现需求（现在相关的文档并不多），而 spm 就只能改代码了。
- spm2 = 一个包管理工具 + 以 grunt 为基础的构建 + 一推 plugin

内部统一使用的方案(apm)，外部支持各种场景(spm2)

[2013-08-15 04:29] differui commented on #12
我照着[文档](http://docs.spmjs.org/en/index)在试：

[code]

提示：`json: ENOENT, no such file or directory '$CWD\package.json'`
可是当前目录下面明明放着package.json，何故？

[2013-08-15 05:34] differui commented on #12
解决了：
之前改了注册表，使得在运行命令行的时候能 autorun 到指定的目录 - desktop。导致在安装包的时候虽然已经切换到需要的目录，但是结果却安装在 desktop 。将注册表中的 `autorun` 移除,问题解决。

[2013-08-22 02:36] huhm opened #79 "模块引用模板文件的问题"
src目录下有文件 b.tpl和a.js,其中a.js内容如下：

<pre>
define(function(require,exports,module){
    var strTpl=require("./b.tpl");
});
</pre>

用spm build 生成时, b.tpl 不在dependencies中

<pre>
warn: file .build\src\b.tpl.js not found
</pre>

生成后的a.js文件为:

<pre>
define("*/*/a",[],function(require,exports,module){
    var strTpl=require("./b.tpl");
});
</pre>

希望得到：

<pre>
define("*/*/a",["./b.tpl"],function(require,ex

[2013-08-22 08:45] dafeizizhu opened #80 "spm publish时尽管先执行了spm login并登陆成功之后，还是提示需要身份校验信息"
[code]

对应的代码会pull request给您的，能否帮忙看看哪里配置出错了，感谢。

附上`~/.spm/spmrc`的配置：

[code]

[2013-08-22 09:10] afc163 commented on #80
目测是 url 把 https://spmjs.org 写成了 http://spmjs.org 导致的。改正后重新登录即可。

[2013-08-22 09:10] afc163 commented on #80
这里不知道为何没有报错，@lepture 继续排查下。

[2013-08-22 09:11] #76 closed, assigned to lepture

[2013-08-22 09:12] ysj opened #81 "spm build的输出问题"
我想做一个spm命令行工具， 下面是我的代码

var childexec = require('child_progress').exec;
childexec('spm build', function(err, stdout, stderr) {
    console.log(stdout);
});

执行代码后stdout始终不能得到build的输出值， 但在命令行中却可以看到输出结果， 是grunt机制影响的吗？要如何通过node程序来获取build的输出呢？

[2013-08-22 09:50] afc163 commented on #65
这个用字见仁见智。

[2013-08-22 09:50] #65 closed, assigned to nobody

[2013-08-22 09:51] afc163 commented on #79
不知道你的  Gruntfile 是怎么写的。

[2013-08-22 09:54] afc163 commented on #79
https://github.com/spmjs/grunt-cmd-transport/blob/master/Gruntfile.js#L146

[2013-08-22 10:17] dafeizizhu commented on #80
@afc163 是source:default那里写错了。[文档](http://docs.spmjs.org/en/config#source)里写的是没有`s`的，是不是文档写错了？

[2013-08-22 10:17] #80 closed, assigned to nobody

[2013-08-23 03:08] chancedai opened #82 "spm2如何deploy到本地"
1.之前一直spm deploy --to=..部署到本地
2.重装了系统，现在更新到spm2了一直找不到spm deploy的资料

谁来一个相关资料链接？

[2013-08-23 03:13] afc163 commented on #82
读之：

https://github.com/spmjs/spm2/issues/73
https://github.com/spmjs/spm-build/issues/29

[2013-08-23 03:13] #82 closed, assigned to nobody

[2013-08-23 10:22] #62 closed, assigned to lepture

[2013-08-23 13:14] edokeh opened #83 "spm 2.1.11 在 Ubuntu 上安装失败"
Ubuntu 版本 12.04.1 32 位版本
但是尝试 2.1.10 发现是 OK 的
安装报错如下

[code]

[2013-08-23 13:45] lepture commented on #83
[code]

看来你是要把  /usr/lib/node_modules/ 改成不用 sudo 就可以安装的。

为什么不要用 sudo: http://howtonode.org/introduction-to-npm

[2013-08-23 15:08] edokeh commented on #83
看到了，可是...这个方案我感觉很糟糕啊
现在给 /usr/lib/node_modules 加了权限，但是安装还是不成功，应该是没有权限 ls 吧

[code]

我去再找找资料吧，感觉更好的方案应该是对 npm 做一些改变

[2013-08-23 16:01] afc163 commented on #83
sudo chown -R $USER /usr/local

[2013-08-23 16:06] edokeh commented on #83
@afc163
我的 npm 模块在 /usr/lib/node_modules 下，我使用 apt-get 装的 node

[2013-08-23 16:22] edokeh commented on #83
看了几个模块 forever, pm2 等等，在 Ubuntu 下不用 sudo 都是没法安装的（一样卡在 ln 那边）
Spm 新版的这个限制感觉没啥必要啊，是不是考虑去掉？

[2013-08-23 16:39] afc163 commented on #83
你的 node 目测是在 /usr/bin 下，那么相应的，你应该是要把整个 usr 目录的权限加上。然后再安装应该就好了。

[code]

相信我，sudo 带来的问题会更多。

[2013-08-23 16:42] lepture commented on #83
我想应该有办法解决

[2013-08-23 17:07] popomore commented on #83
是不是把 spm check 中的系统检测提出来用 shell 写，感觉更靠谱一点。

[2013-08-23 17:16] edokeh commented on #83
@afc163
神啊，把整个 /usr 的 owner 给某个非 root 用户，这样真的好嘛……

[2013-08-23 17:18] afc163 commented on #83
是你自己电脑的话，问题不大。:smile:

[2013-08-23 17:22] afc163 commented on #83
不放心的话，就重装一下 node `curl http://npmjs.org/install.sh | sh`

确保安到 /usr/local 下。

[2013-08-23 17:22] edokeh commented on #83
@afc163
。。。。。。。。。。。。幸亏公司的生产机全是 CentOS，但是也不能这么玩人啊
这个反 sudo 的检查 **具体** 是出于什么目的？感觉 spm 里没啥特别的地方啊

[2013-08-23 17:32] popomore commented on #83
用 nvm 吧

https://github.com/creationix/nvm

[2013-08-23 17:32] afc163 commented on #83
sudo 各种问题，心力憔悴，能不用就不用。自从发现了去 sudo 的解决方案，咨询量骤降啊。

[2013-08-23 17:36] afc163 commented on #83
又发现个去 sudo 的神方案集合，也是@isaacs 搞的：https://gist.github.com/isaacs/579814

[2013-08-23 18:28] popomore commented on #79
看起来是 transport 的时候没有做 tpl 的 transport

[2013-08-23 18:30] popomore commented on #71
@lepture 这个还没做？

[2013-08-23 18:31] popomore commented on #81
试试调 spm-build

[2013-08-24 01:01] huhm commented on #79
不是spm build 吗，要自己写Gruntfile吗？话说这个文件在哪里的，我找不到

[2013-08-24 08:41] huhm commented on #79
解决了，改了grunt-cmd-transport的Gruntfile.js文件，不过这个是合并了tpl和js文件，不是require.貌似这样就不用require seajs-text插件了。

[2013-08-24 09:10] huhm commented on #79
还是有问题，当模块名和模板名相同时，如a.js,a.tpl打包后，dependencies正常的。当两者不同时，dependencies中不存在模板

[2013-08-25 09:50] lifesinger commented on #79
dependencies 正常的应该包含 a.js 和 a.tpl.js

[2013-08-25 12:09] X-Bird opened #84 "spm search 提示连接超时，出墙后同样的提示 spm info 也一样"
spm search 提示连接超时，出墙后同样的提示 spm info 也一样

[2013-08-25 12:44] lepture commented on #84
@X-Bird 你是不是安装了 apm ? 查看你的 ~/.spm/spmrc

[2013-08-25 15:22] X-Bird commented on #84
@lepture 你好，经排查，现在 npm install -g spm 装了之后默认的源变成了 yuan.alipay.im，以前不是的，手动改成spmjs.org就好了，此 issue close掉，阿里你们的文档的太不全了，别人博客的文章比你们的文档还容易看，我几乎都快放弃seajs这块阵营了，构建那块搞死人啊，而且arale的一些模块好臃肿，switchable这种东西自己写也就几十行代码，但如果用你们的这套，打包完几百行啊，晕了～
虽然开发速度上去了，比较看好fis，现在是seajs这边的阵营结合着fis 的一些功能，暂时还算舒服，新人来很方便的就可以指挥让其干一部分的活，比以前好，只要项目构建配置这关把好，开发的人会舒服很多～
希望seajs的生态圈可以健全一些，不过你们确实对业界做出了很大贡献，谢谢你们！

[2013-08-25 15:22] #84 closed, assigned to nobody

[2013-08-25 15:32] afc163 commented on #84
确定你是 `npm install -g spm` 而不是 `npm install -g apm` 的，这两者有本质区别。

据我所知，spm 的代码里根本没出现过 yuan.alipay.im 。

[2013-08-25 16:28] X-Bird commented on #84
@afc163 你是对的，我装过apm，后来又重复的装了几次spm，后面几次重装spm没让源变回来。。。
刚clone了spm源码下来，sublime cmd+shift+f 搜了一下，确实毛有yuan.alipay.im。
sincerely apologize...

[2013-08-25 16:44] afc163 commented on #84
它是这样，只要你设置过这个 config ，后面再装就不会给你更改掉。

之前安过 apm 就一直带着了，最近挺多人遇到这个问题。

这边的文档要提醒一下，我刚刚加上了一句话。https://github.com/aralejs/aralejs.org/blob/master/docs/installation.md#%E6%94%AF%E4%BB%98%E5%AE%9D%E5%A5%97%E4%BB%B6

[2013-08-26 02:41] huhm opened #85 "smp build 合并问题"
package.json 中spm.output为["a.js","b.js"];
其中a.js require了b.js;
spm build后,产生a.js和b.js文件，为什么a.js文件为a.js和b.js的合并文件？

[2013-08-26 05:47] popomore commented on #85
concat 默认会合并相对引用

[code]

Sent from Mailbox for iPhone

On Mon, Aug 26, 2013 at 10:41 AM, huhm notifications@github.com wrote:

[2013-08-26 06:19] #85 closed, assigned to nobody

[2013-08-26 09:33] huhm commented on #85
好像之前的版本不是这样的

[2013-08-26 09:34] popomore commented on #85
也是这样的，不过你可以用这个 http://docs.spmjs.org/en/package#spm-include

[2013-08-26 09:34] afc163 commented on #85
spm 1.x.x 的确不是这样的，2.x 改成这样了。

[2013-08-26 09:35] huhm commented on #85
include吗？

[2013-08-27 09:45] afc163 commented on #71
其实这个方法是有的：https://github.com/spmjs/cmd-util/blob/master/lib/iduri.js#L11

[2013-08-27 10:23] popomore commented on #71
有些信息是要从 yuan 上拿的，比如处理 arale/widget

[2013-08-31 15:43] willkan opened #86 "spm组件名字问题"
我publish了一个组件:willkan/backbone.localStorage,
但当我install时，spm install willkan/backbone.localStorage，会报错，应该时组件名字中的`.`导致的问题，请问该怎么安装这类组件

[code]

[2013-09-04 08:48] hguankei opened #87 "arttemplate在spm build的问题"
nick's@NICK /e/web/kutongji_report/report/public/js/reachurl (hgk-spm
  spm build

[code]

$helpers.js not found ，这个要怎么解决

[2013-09-04 08:50] popomore commented on #87
有什么问题么

[2013-09-04 08:53] hguankei commented on #87
$helpers.js not found 因为它是自动生成的，在模块里是require("../../helpers")这样的路径，
spm build时候合并依赖生成var helpers = require("KUscript/$helpers-debug");
这个路径就不正确了，请教这个怎么配置，难道要手动复制过去么 @popomore

[2013-09-04 09:04] popomore commented on #87
为什么 helpers 会在模块外面？是另外一个模块么？

[2013-09-04 09:05] popomore commented on #87
模块间依赖的问题可以这样解决

https://github.com/spmjs/spm2/issues/73#issuecomment-22499701

[2013-09-04 09:12] hguankei commented on #87
@popomore Makefile这个文件怎么用，安装到sea-modules 还是要遵循 #73 的方法么

[2013-09-04 09:14] popomore commented on #87
1. windows 用不了 Makefile
2. 要把依赖的模块下载到 sea-modules，不然构建的时候还是找不到

[2013-09-04 09:56] hguankei commented on #87
@popomore 了解了，还有我用 spm install . ../../sea-modules怎么做不到安装在指定目录呢，它直接安装在当前目录里

[2013-09-04 10:23] afc163 commented on #86
好像不能带点，回头确认下。

[2013-09-05 03:50] #87 closed, assigned to nobody

[2013-09-05 03:50] hguankei opened #88 "Cannot call method 'charAt' of undefined 请问这是什么情况"
$ grunt build
Running "transport:build" (transport) task
transport 2 files

Running "concat:merge" (concat) task
Warning: Cannot call method 'charAt' of undefined Use --force to continue.

[2013-09-05 04:11] popomore commented on #88
不知道你的代码怎么写的

[code]

Sent from Mailbox for iPhone

On Thu, Sep 5, 2013 at 11:50 AM, nick notifications@github.com wrote:

[2013-09-05 05:40] hguankei commented on #88
@popomore

module.exports = function(grunt) {

[code]

};

[2013-09-05 06:08] hguankei commented on #88
@popomore 一加了 include:'relative' 就不行了 T T

[2013-09-05 09:38] lichunqiang commented on #87
@hguankei 你必须在指定的目前前加上`-d`

[2013-09-05 10:30] popomore commented on #88
生成在 build 下的文件 dependencies 是怎么样的？

[2013-09-06 01:50] hguankei commented on #88
@popomore

define("/js/build/searchengine/searchengine", [ "datePickerStyle", "jquery", "datePicker", "base", "highcharts", "./general", "../../$helpers", "./keyword", "./url", "./tabledata" ], function(require, exports, module) {
    require("datePickerStyle");
    var $ = require("jquery");
    var datePicker = require("datePicker");
    var base = require("base");
    var Highcharts = require("

[2013-09-06 05:18] hguankei commented on #88
@popomore
我发现是"../../$helpers"这个的问题，二级的相对路径不支持

[2013-09-06 07:07] #88 closed, assigned to nobody

[2013-09-06 23:50] alvin2ye opened #89 "安装失败, 请问什么原因"
npm install spm -g --verbose

[code]

我重新安装过nodejs, 用一下方式

[code]

lsb_release  -a

[code]

已经删除apt-get 的 nodejs

[2013-09-06 23:50] alvin2ye commented on #89
[code]

也执行过

[2013-09-07 06:01] ustccjw opened #90 "npm install spm-init -g 出错"
execvp(): No such file or directory

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn ENOENT
    at errnoException (child_process.js:980:11)
    at Process.ChildProcess._handle.onexit (child_process.js:771:34)

[2013-09-07 07:30] ustccjw commented on #90
编译node安装在/usr/local下还是不行

execvp(): No such file or directory

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: spawn ENOENT
    at errnoException (child_process.js:980:11)
    at Process.ChildProcess._handle.onexit (child_process.js:771:34)

[2013-09-07 07:31] ustccjw commented on #90
spm -V
2.1.12

[2013-09-07 08:39] afc163 commented on #90
try

[code]

[2013-09-07 08:51] ustccjw commented on #90
原因已找到   没install git...  但是spm-build能intall成功，建议在文档上注明

[2013-09-07 08:51] #90 closed, assigned to nobody

[2013-09-07 10:16] ustccjw opened #91 "spm doc watch warn: npm install socket.io to enable livereload"
install socket.io后仍然warn

[2013-09-07 15:03] afc163 commented on #91
加 -g

[2013-09-07 15:03] #91 closed, assigned to nobody

[2013-09-10 05:34] lizzie commented on #69
@popmore apm 的文档可以用 https://github.com/spmjs/apm/blob/master/README.md 这个啊.

[2013-09-13 08:12] popomore commented on #89
启动 node，然后打印 process.env.SUDO_USER 看看，怀疑是系统权限问题。

看 https://github.com/spmjs/spm2/blob/master/scripts/preinstall.js

[2013-09-13 08:21] popomore commented on #86
id 规则是不能用点的，规则是 /a-zA-Z0-9-/

[2013-09-13 08:25] #86 closed, assigned to nobody

[2013-09-13 08:38] #83 closed, assigned to nobody

[2013-09-13 08:38] #81 closed, assigned to nobody

[2013-09-13 08:38] popomore commented on #79
搞定了？

[2013-09-13 08:40] willkan commented on #86
我觉得publish的时候应该检测一下组件名中是否含有 . 吧，我publish了一个这样名字的组件却无法unpublish........

[2013-09-13 08:40] popomore commented on #86
恩，已经加了检测，谢谢提醒

[2013-09-13 09:31] alvin2ye commented on #89
---

[2013-09-13 10:01] popomore commented on #89
理解不能了，那为什么 npm 安装的时候 process.env.SUDO_USER 存在

[2013-09-13 10:09] afc163 commented on #89
[code]

可能是本地有缓存。

[2013-09-13 11:02] alvin2ye commented on #89
@afc163 确实是，搞定了，我的青春啊，谢谢
@popomore 谢谢

[2013-09-13 11:03] #89 closed, assigned to nobody

[2013-09-13 13:43] edokeh commented on #86
天啊，模块 ID 不能用 . 啊，好难过
规则这样定，是因为有啥冲突的场景吗？

[2013-09-13 13:45] huhm commented on #85
配置include: relative 后，产生新的问题：
output:["a.js","b.js","c.js"]
同一个文件夹下,有a.js,b.js,c.js;
其中a.js和b.js均require("./c");
生成的a.js,b.js文件均包含c.js模块

[2013-09-13 13:46] huhm commented on #79
这个暂时没有问题了
https://github.com/spmjs/spm2/issues/85

[2013-09-13 14:25] afc163 commented on #86
鬼知道

[2013-09-13 15:12] edokeh commented on #86
强烈要求修改此规则，包括支持下划线

[2013-09-16 10:11] #79 closed, assigned to nobody

[2013-09-24 01:51] edokeh opened #92 "放宽模块名的字符限制"
目前模块 ID 规则是 /a-zA-Z0-9-/
我觉得可以放宽，增加点（.），下划线（_）等字符
#86

[2013-09-24 03:47] popomore commented on #92
这个暂时放着，代码比较乱，而且源里面也有逻辑在，整理下代码再看。

可以先讨论放宽的必要性 @lifesinger @afc163

[2013-09-24 03:51] edokeh commented on #92
肯定的的，先讨论清楚了再动嘛
所以，之前为啥不允许点和下划线呢？
我猜测不允许点是因为早期 spm 是这么玩的 `spm install gallery.jquery`，允许点就会有冲突
而不允许下划线实在想不出原因

[2013-09-24 04:56] afc163 commented on #92
. 和 _ 不支持应该是 Arale 的模块命名规则，我觉得不应该放到 spmjs 的生态圈里来。

[2013-10-09 07:53] ghost opened #93 "require tpl模板文件出错"
现在我的模块中有require tpl代码
打包后有如下两部分代码
require：
var projectBodyTemplate = require("my/0.0.1/profile/templates/profile.tpl");

tpl：
define("my/0.0.1/profile/templates/profile.tpl", [], '----------------------模板内容-------------------‘);

但是projectBodyTemplate 最后得到的值是null。

是否有将tpl直接转换为文本的方式。

[2013-10-09 09:55] ghost commented on #93
简单的文件没问题，但我的工程中有问题，现在是否还有将tpl直接转换为文本的方式。

[2013-10-09 09:57] popomore commented on #93
有的，提供下有问题的代码

—
Sent from Mailbox for iPhone

On Wed, Oct 9, 2013 at 5:55 PM, f0x1l notifications@github.com wrote:

[2013-10-09 11:14] ghost commented on #93
应该是解析tpl别名的问题。公司的代码，不好提供。简单的程序复现不了，我再研究研究。
spm build时将tpl直接转换为文本的方式 能够提供个链接吗，谢谢。

[2013-10-09 15:42] popomore commented on #93
要源码的链接？

[2013-10-10 01:28] ghost commented on #93
文档的链接。
build完成后直接生成
var projectBodyTemplate = "模板内容"

[2013-10-10 02:34] ghost commented on #93
发现问题了，使用seajs1.3.1版本，
seajs.config({
  preload: ['seajs/plugin-text']
});
原本要用这个插件，但是现在这个插件加上有问题。

[2013-10-10 02:34] #93 closed, assigned to nobody

[2013-10-10 03:44] ghost commented on #93
这个插件应该是针对外部的tpl文件进行处理，但是现在spm build将tpl文件和js打包到了一个文件中。所以造成无法获取正常的结果。

[2013-10-10 04:10] popomore commented on #93
最后应该生成这样的

[code]

[2013-10-10 08:27] ghost opened #94 "执行spm-build时能否不自动下载依赖生成文件夹"
Task: "clean:build" (clean) task

Task: "spm-install" task

install: gallery/json@1.0.2
          fetch: gallery/json@1.0.2
        extract: ~/.spm/cache/gallery/json/1.0.2/json-1.0.2.tar.gz
          found: dist in the package
      installed: sea-modules/gallery/json/1.0.2

目前工程中有多模块，都依赖于
"json": "gallery/json/1.0.2/json.js"
spm-build时会自动下载json包，这样每个模块文件夹中都有了一个sea-modules/gallery/json/1.0.2这样的文件

[2013-10-10 08:34] afc163 commented on #94
这个文件夹只是用于构建，可以不需要实际部署，你当看不见好了。

[2013-10-10 08:46] ghost commented on #94
只用于构建的话
即使不存在也应该可以能够执行build，
现在即使有些依赖不存在也能build成功，只是抛出warning。
spm install的时候会检查依赖关系，失败会报错，下载相应的依赖模块应该放到这个动作中吧。
或者build的时候能否指定sea-modules的目录。

[2013-10-15 07:26] popomore commented on #94
你可以自己指定 gruntfile，然后自定义 task，把 spm-install 去掉。

修改 ~/.spm/spmrc

[code]

[2013-10-15 15:20] kyfxbl opened #95 "请问spm和npm有什么区别呢？"
hi，看了readme.md，我才知道spm是一个package manager，而不是一个build tool。但是我不明白，包管理器已经有了npm，spm有什么区别呢？

[2013-10-15 15:23] afc163 commented on #95
node 端和浏览器端的区别。

[2013-10-15 15:25] kyfxbl commented on #95
但是spm需要依托于node执行是吗？

[2013-10-15 15:30] afc163 commented on #95
是的，spm 就是 node 下的一个工具。负责浏览器端的包管理。

[2013-10-15 15:32] kyfxbl commented on #95
谢谢，稍微清晰一点了，再理解一下。。
node有npm，seajs又有spm，这2天信息太密集，头实在很晕，呵呵，谢谢afc163

[2013-10-16 01:37] #95 closed, assigned to nobody

[2013-10-17 14:04] jser-mayan opened #96 "spm is required in package.json"
spm is required in package.json.什么错误呢？

[2013-10-17 15:02] popomore commented on #96
不是已经问过了么 https://github.com/spmjs/spm/issues/704

[2013-10-17 15:02] #96 closed, assigned to nobody

[2013-10-17 15:22] afc163 commented on #96
...

[2013-10-17 15:22] afc163 commented on #96
还是两个账号，是密码忘掉了重新注册么。。

[2013-10-18 03:28] edokeh commented on #83
@afc163
gist 里面第一个最简单好用
但是第一次把重要的程序装在 home 下面还是觉得怪怪的

[2013-10-25 09:58] tiye commented on #92
`spm publish` 带 `.` 的包成功, `spm install` 失败了, `spm info` 也失败的.. 现场:
https://spmjs.org/jiyinyiyong/jquery.scrollTo/

[code]

[2013-10-25 10:04] afc163 commented on #92
http://docs.spmjs.org/doc/package#family-required

[2013-10-25 10:07] tiye opened #97 "SPM 可否增加 npm 和 Bower 中命令行一些习惯?"
比较顺的几个是

[code]

`search` 和 `info` 是已经有的,
`init` 我个人感觉是生成 `package.json`, 但 SPM 依赖 `Makefile` 似乎就不能限于那样的功能..
关于 `--save` 目前 `SPM` 在 `install` 同时没有发现写 `dependencies`.. 手写比较麻烦,
`list` 有看到 `tree` 命令对应.. 但是没看懂,, 是读 `package.json` 的数据吗?

我个人用 npm 和 Bower 比较多, 比较希望相关命令能一致. 个人观点.

[2013-10-25 10:08] afc163 commented on #97
`npm install spm-init -g`

你就可以用 `spm init` 了。

[2013-10-25 10:10] afc163 commented on #97
`--save` 和 `--save-dev` 可以加上。

[2013-10-25 10:45] tiye commented on #97
`init` 文档有写, 知道的, 我问题里是 `init` 功能过多了, 可能就开始对文件进行重写.. 不够灵活.
或者干脆说当我开发的习惯并不和 SPM 模板里一致时感到有点郁闷..
可能是两个问题,
1. SPM 对 Makefile 的依赖有多重, Makefile 功能直接由 SPM 执行有没有可能?
2. 比如只有 `package.json` 文件是 SPM 生成的, 其他的文件都不管(放到模板去, 但不默认使用).
   那这时是否要求 `src/` 下的目录和 `name` 对应, 因为 `package.json` 没有对应 Bower 的 `main` 字段?

[2013-10-25 10:46] tiye commented on #92
看上边似乎这没定下来呢.. 是在 publish 时提示命名出错还是在 install 时候兼容特殊符号...

[2013-10-25 10:53] popomore commented on #97
可以重新写个模板，或者使用 grunt 的模板

[2013-10-25 11:19] tiye commented on #97
@popomore 如果长些很多小项目, 习惯代码模块化, 而不推荐用模板呢?

[2013-10-25 11:34] popomore commented on #97
我是说 init 有模板的，每个小项目初始化都是按照这个模板，因为 arale 的模板无法满足你

[2013-10-25 12:45] tiye commented on #92
我还是先问下怎么删掉吧, 删不掉... `unpublish` 会遇到上边那个报错

[2013-10-25 13:34] afc163 commented on #97
现在可以不使用 Makefile，所有的功能基本可以由 spm 来完成。

[2013-10-25 13:36] afc163 commented on #92
的确不统一，等待下修复版本吧。先放着也没事。:smile:

[2013-10-25 13:44] tiye commented on #97
已经集成在 SPM 里了? 那现在的 Makefile 是怎么, 没有调用吗?

[2013-10-25 13:48] afc163 commented on #97
像 https://github.com/aralejs/tip 这个，都删掉了 Makefile，其他的也都没调用了。基本命令就是：

[code]

这几个，我们都集成到 [apm](https://github.com/spmjs/apm) 里面了。

[2013-10-25 14:09] tiye commented on #97
看本地的 `Makefile` 也的确是调用了 SPM 的命令.. 并且编译过程也没用过 `make`.
奇怪那这样不是没必要生成 `Makefile` 文件了么, 这个完全在 SPM 能搞定的

[2013-10-25 15:57] tiye opened #98 "发到 SPM 的 package 必须要编译吗?"
主要是文档没写.. 而且觉得编译的代码我一般都 `.gitignore` 算了... 编译到 `dist/` 是否是必要的?

[2013-10-28 01:53] lizzie commented on #98
spm publish 之前需要 spm build , 最终 publish 的代码就是 dist/ 目录和 package.json

[2013-10-28 01:53] #98 closed, assigned to nobody

[2013-10-28 02:27] tiye commented on #98
比如我引用了 `zepto/zepto/1.0.0/zepto`, seajs 是用的 `dist/` 下的文件吗?

[2013-10-28 03:02] lizzie commented on #98
是的.

[2013-10-28 07:08] afc163 commented on #92
统计下目前代码中涉及到 name 的命名规范的代码：
1. `publish` https://github.com/spmjs/spm2/blob/master/lib/publish.js#L36
2. `info` `install` `unpublish` https://github.com/spmjs/cmd-util/blob/master/lib/iduri.js#L17

这里 popomore 已经在 publish 时做了校验。https://github.com/spmjs/spm2/commit/203e1effdafc6178054c2ce1db32234edaaa37d6

[2013-10-28 07:37] afc163 commented on #92
然后不支持的 `.` 的原因是现在的用法依然支持 `spm install arale.base` 这样的旧用法，属于照顾过去的习惯。

不支持 `_` 是因为太丑。倾向于保持现状。

[2013-10-28 07:58] edokeh commented on #92
:-1: :-1: :-1: :-1: :-1:

[2013-10-28 08:12] tiye commented on #92
`arale.base` 是一个包名是吧, 而不是特殊语法?

相比如果遇到奇葩场景需要用到 `_` 了, 可又因为太丑给屏蔽了.. 宁可丑一点.

[2013-10-28 08:25] #49 closed, assigned to nobody

[2013-10-28 08:25] #97 closed, assigned to nobody

[2013-10-28 08:33] afc163 commented on #92
`arale.base` 应该是和 `arale/base` 同义。 这是个历史原因。

[2013-10-28 08:34] #92 closed, assigned to nobody

[2013-10-28 08:34] #94 closed, assigned to nobody

[2013-10-28 08:34] #77 closed, assigned to nobody

[2013-10-28 08:35] afc163 commented on #50
先关了，这个问题来来回回好几个 issue 都不了了之了。

[2013-10-28 08:35] #50 closed, assigned to nobody

[2013-10-28 08:39] afc163 commented on #37
不做了。

[2013-10-28 08:39] #37 closed, assigned to lepture

[2013-10-28 09:18] edokeh commented on #92
我心爱的 `_` 就这么被判了死刑 :cry:
嫌 `_` 丑敢不敢不用 underscore ！

[2013-10-28 09:31] #14 closed, assigned to nobody

[2013-10-28 09:33] afc163 commented on #92
。。

[2013-10-28 09:45] popomore commented on #92
component 也推荐这样写 https://github.com/component/component/wiki/Building-better-components#naming-conventions

[2013-10-29 02:47] afc163 commented on #70
保持现状好了，缓存 stable 的版本还需要定期更新，挺麻烦的。

[2013-10-29 02:47] #70 closed, assigned to lepture

[2013-10-31 11:23] kyfxbl commented on #88
@hguankei  我也遇到了，请问你当时是如何解决的？

[2013-10-31 11:37] popomore commented on #88
大概是层级太高了吧， ../../$helpers 已经超出了指定的目录了。

[2013-10-31 11:53] kyfxbl commented on #88
@popomore 不是层级太高，我找到了问题了T.T

我给transport任务配置了：

[code]

这样就把默认的jsParser覆盖了。。。我以为是追加，其实是覆盖，然后造成grunt-cmd-concat/tasks/lib/script的第53行

[code]

这里的v是undefined，所以调用的时候抛出楼主那个错误。。

这个文档没写啊。。很难想到这个配置是覆盖而不是追加啊，多么痛的领悟。。。

[2013-10-31 11:54] kyfxbl commented on #88
貌似和楼主不是一个场景的，不过抛出的错误信息一样。我看楼主都没有配置跟CSSParser有关的东西

[2013-11-01 07:58] kyfxbl commented on #54
grunt-cmd-concat里的readme.md没刷新呀，还写着css2js选项

[2013-11-02 13:28] senomorii opened #99 "ubuntu 下安装出错了，什么情况呢？ 新手求教"
npm http GET https://registry.npmjs.org/spm
npm http 304 https://registry.npmjs.org/spm

NO SUDO PLEASE!!!
Maybe you need run:

$ sudo chown -R $USER /usr/local

More information on http://howtonode.org/introduction-to-npm
npm ERR! spm@2.2.0 preinstall: `node scripts/preinstall.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the spm@2.2.0 preinstall script.
npm ERR! This is most likely a pr

[2013-11-02 13:33] edokeh commented on #99
#83

[2013-11-03 02:35] senomorii commented on #83
最后的解决方案是什么。。

[2013-11-03 07:08] edokeh commented on #83
不是写了嘛，就是不要用 sudo 安装 node

[2013-11-03 09:01] michael-yin commented on #83
sudo chown -R $USER /usr
这条命令会导致ubuntu的sudo命令无法使用。。。这样不好把。。。

[2013-11-03 09:42] edokeh commented on #83
。。。你们为什么不点进那个 gist 看一下
https://gist.github.com/isaacs/579814

[2013-11-03 09:58] michael-yin commented on #83
因为我还没看到那个gist，就已经敲了那个命令，现在重新装node。建议在那个安装指南上写上对node安装的建议，因为ubuntu用户喜欢apt-get，谢谢。

[2013-11-03 10:16] afc163 commented on #83
@michael-yin 你可以帮忙 pull-request 一下，我们不用 ubuntu 的，所以对这个问题没有经验。

[2013-11-04 06:47] lizzie commented on #99
thanks @edokeh

[2013-11-04 06:47] #99 closed, assigned to nobody

[2013-11-04 14:15] senomorii commented on #99
还是有错误的呢。
yun@ubuntu:/home$ npm install -g spm
npm http GET https://registry.npmjs.org/spm
npm http 200 https://registry.npmjs.org/spm
npm http GET https://registry.npmjs.org/spm/-/spm-2.2.0.tgz
npm http 200 https://registry.npmjs.org/spm/-/spm-2.2.0.tgz
npm ERR! Error: EACCES, mkdir '/usr/lib/node_modules/spm'
npm ERR!  { [Error: EACCES, mkdir '/usr/lib/node_modules/spm']
npm ERR!   errno: 3,
npm

[2013-11-04 15:21] afc163 commented on #99
不能完整的读一下 #83 和里面的相关链接么？

[2013-11-10 04:11] ch-hui opened #100 "初次学习想请教一下关于spm2的命令"
我运行spm -help为什么只有System Commands和Package Commands，之前文档上面有提到过的init和build命令哪里去了？及时是在安装了插件之后还是没有办法识别命令。
![image](https://f.cloud.github.com/assets/4827119/1507932/1d3248c6-49be-11e3-8de7-7e88a1c52df1.png)

[2013-11-10 07:28] #100 closed, assigned to nobody

[2013-11-10 17:17] afc163 commented on #100
init 和 build 都是插件提供的功能。

http://docs.spmjs.org/cli/init
http://docs.spmjs.org/cli/build

如果运行了命令还是没有注册上，把 npm install spm-build -g 的 log 信息贴出来看看有什么问题。

[2013-11-11 04:54] eggao opened #101 "grunt-cmd-concat 在合并代码的时候如何重写css中的url(**/*.**)?"
项目使用grunt打包。在提取依赖，合并依赖之后css是直接写入到页面中的。如何重写css样式中的图片等资源的地址呢？

[2013-11-11 06:12] jiangyuan commented on #101
这个其实很简单的，可能 @eggao 没有发现。
可以自定义一个任务，将 url(**/*.**) 批量替换成你想要的任务。
可以用 grunt.file.read 和 grunt.file.write 接口。
如果你有用 grunt-contrib-copy ，他有个 processContent 回调函数……

[2013-11-11 06:32] popomore commented on #101
其实和 concat 没关系，在 concat 之前先处理下 css。

[2013-11-11 06:49] #101 closed, assigned to nobody

[2013-11-11 08:21] afc163 commented on #99
try `npm install spm -gf`，升级到 2.2.2，我删掉了 autoupdate 的逻辑，这个引起了不少问题。

[2013-11-15 04:16] zzhdi opened #102 "include all 是否有问题"
以Base类为例，如果include配置为all是不是把其依赖的class、events等都发布到dist目录下？

[2013-11-15 04:23] afc163 commented on #102
对。

[2013-11-15 06:38] zzhdi commented on #102
谢谢

[2013-11-15 06:38] #102 closed, assigned to nobody

[2013-11-16 05:37] zicjin opened #103 "请更新一下angularjs版本"
版本更新速度太滞后了。

[2013-11-16 06:50] afc163 commented on #103
把 spmjs.org 的账号给下吧，我让@leoner 给你开个 publish 权限，因为我们自己用的很少，你可以帮我们一起更新。

[2013-11-18 02:01] edokeh commented on #103
1.2 也才发布了一周左右嘛

[2013-11-18 02:35] zicjin commented on #103
zicjin@gmail.com

[2013-11-18 02:40] zicjin commented on #103
@edokeh 从三个月前rc版开始就一直放在 http://angularjs.org 的默认下载位了。可能各人对rc版本的想法不同吧。

[2013-11-18 03:28] edokeh commented on #103
1.2 才是 stable ，之前的一个 stable 版本其实是 1.0.8，1.1.5 都不算
我觉得作为中央库还是保守一点比较好，虽然其实我也用了好久 1.2-rc2 。。。

[2013-11-22 03:54] edokeh commented on #103
@afc163
我看了下 Spm 仓库中 angular 的封装，觉得还有更好的方式，尤其是对 angular-cookies,angular-resource 这些 angular module

现在的方式，是在这些 module 的代码外层包裹一个 define 函数，并且加入 require('angular') ，但是没有 exports
https://github.com/cmdjs/angular/blob/master/angularjs/Gruntfile.js#L15

这样的封装，会造成用 Sea.js 写 angular 代码时，需要这样

[code]

这样存在两个问题，一是存在有副作用的 require（因为没有返回值），二是申明 module 的依赖时，需要用字符串，容易出错（手写代码是万恶之源）

如果在封装时，能输出定义的 angular module

[2013-11-22 05:19] leoner commented on #103
如果有更好的方式，更好呀，原来的那个也是当时找到的一个解决方式，但是后续由于没有再用了，所以没有继续优化呀。

[2013-11-22 06:12] edokeh commented on #103
那我发个 PR 到 CMDJS 那边呗
还有最新的 1.2.1 好像还是没上到 Spm 仓库？

[2013-11-22 07:46] leoner commented on #103
恩， 那你发过来后， 我就给发上去呀

[2013-11-22 08:06] afc163 commented on #103
给他们加上 spmjs.org 上的发布权限吧。

[2013-11-29 06:55] xingmolu opened #104 "spm build构建的时可以不要版本号吗?"
有参数修改，还是得自己修改代码呢?

[2013-11-29 09:10] afc163 commented on #104
https://github.com/spmjs/grunt-cmd-transport/#optionsidleading

https://github.com/spmjs/spm-build/blob/master/lib/config.js#L73

https://github.com/seajs/seajs/issues/538

[2013-11-29 13:51] larry4xie opened #105 ".spmrc设置了format后install的组件的依赖路径不正确"
### file .spmrc

[install]
format = {{family}}/{{name}}/{{filename}}
### base-debug.js

![image](https://f.cloud.github.com/assets/1777254/1645300/faf58c3e-58fc-11e3-9277-fc157be2db23.png)

如上图，filename都不正确
### spm version 2.2.4

[2013-11-30 08:15] popomore commented on #105
看看依赖的 class 和 events 文件

[2013-12-01 11:54] larry4xie commented on #105
![image](https://f.cloud.github.com/assets/1777254/1650325/565ace08-5a7f-11e3-93e5-e068d67ced1a.png)

[2013-12-02 05:35] bairedzhang opened #106 "win7下npm install spm -g 失败"
C:\Users\bairedzhang>npm install spm -g
npm http GET https://registry.npmjs.org/spm
npm http 304 https://registry.npmjs.org/spm

[2013-12-02 05:54] afc163 commented on #106
log 信息就这么点么？

[2013-12-03 10:37] bairedzhang commented on #106
[code]

[2013-12-03 15:57] chilicomputer opened #107 "请问怎么指定安装目录？"
运行spm install <package>的时候，会默认将包下载至当前目录的sea-modules目录下，有没有什么参数可以指定安装目录？

best regards

[2013-12-03 16:01] chilicomputer commented on #107
晕，help里有写，请无视。。。

[2013-12-03 16:01] #107 closed, assigned to nobody

[2013-12-03 16:44] popomore commented on #107
乖

[2013-12-03 16:48] popomore commented on #106
好像 node 也不太管 windows 的，你先把这个目录删掉再重装试试

https://github.com/joyent/node/issues/3017

[2013-12-03 16:50] popomore commented on #105
猜测：你把  class 和 events 拷贝到相对路径，但源码 require 的时候并不是 `./`

[2013-12-03 16:50] #104 closed, assigned to nobody

[2013-12-03 16:51] #69 closed, assigned to nobody

[2013-12-04 03:15] leoner commented on #103
@zicjin 已发布 1.2.3. 你看下能用否？

[2013-12-04 04:38] larry4xie commented on #105
@popomore  我是直接spm install arale/base 安装到目录下的代码就是这样的（前提是我配置了format）

[2013-12-04 06:39] popomore commented on #105
是个 bug

[2013-12-04 06:39] #105 closed, assigned to nobody

[2013-12-05 08:28] zzhdi opened #108 "transport:css 处理建议"
起因：
 package.json

<pre><code>
...
"output":["a.js","a.css","a.png"]
...
</code></pre>

a.js

<pre><code>
define(function(require, exports, module) {
    require("./a.css");
....
</code></pre>

a.css

<pre><code>
....
background: url(a.png) no-repeat;
...
</code></pre>

使用 spm build 后，
a-debug.js

<pre><code>
define(...,function(){
     ...
     require("a-debug.css");
     .....
});

define("..."

[2013-12-06 06:11] edokeh commented on #103
@leoner
Angular 1.2 包含的模块多了不少，看这里
http://docs.angularjs.org/api
http://code.angularjs.org/1.2.3/
现在 spm 上的至少还缺 animate, route, sanitize, touch

发 PR 时以为你们会补上，所以我偷了个懒，结果。。。

[2013-12-06 06:18] leoner commented on #103
@edokeh 晕，好吧，那要不你在 PR 下，我再发布下呀。

[2013-12-06 06:18] leoner commented on #103
当时没有注意。

[2013-12-06 07:10] leoner commented on #103
好了，发布了，@edokeh 你在试下呀。

[2013-12-06 07:18] edokeh commented on #103
有缓存？
https://spmjs.org/repository/angular/angularjs/1.2.3/angularjs-1.2.3.tar.gz
这个地址下载下来依然只有 cookie 和 resource 两个包

[2013-12-06 07:19] leoner commented on #103
@edokeh sorry. 你在试下

[2013-12-06 07:35] edokeh commented on #103
已OK！

[2013-12-06 08:23] kfpanda commented on #69
不错，整理的挺清晰的。

[2013-12-09 05:58] popomore commented on #108
我的方案图片是绝对地址，所以这种场景是不考虑的。

你可以通过使用 grunt 组织自己的方案。

PS: 如果有 css 的相对引用就会打包进来，并且转换成 cmd 模块。配置 css 的 output 是会同时输出一个 css 文件。

[2013-12-09 05:58] #106 closed, assigned to nobody

[2013-12-10 15:06] #103 closed, assigned to leoner

[2013-12-13 03:19] zxdong262 opened #109 "failed installing spm"
@ubuntu 12.04 x64

[code]

[code]

[2013-12-13 03:31] popomore commented on #109
不要用 sudo

https://github.com/spmjs/spm2/blob/master/scripts/preinstall.js

[2013-12-13 03:31] #109 closed, assigned to nobody

[2013-12-13 03:36] popomore commented on #109
http://docs.spmjs.org/doc/environment.html

[2013-12-13 08:02] afc163 opened #110 "spm@2.5 坑位"
It is time to be better.

---
## 现存的问题（先简单描述下）
1. 订死的目录结构，不够灵活。
2. CMD 书写规范，在业界现有的 github 模块中不通用。
3. spm build 和 dist 目录都不是必要的。
4. family 属性应该在 spm 字段里面。
## 本次升级的愿景
1. 可以给现有的业界模块 pull request ，通过简单的添加 spm 字段，就可以发布到 spmjs.org 。
2. 现有的 arale 模块改造为 CommonJS 的写法，可以继续方便的本地调试。
3. 兼容 spm@2.1。

[2013-12-13 08:12] leoner commented on #110
赞

[2013-12-13 10:18] afc163 opened #111 "2.5.0"

[2013-12-13 10:18] #111 closed, assigned to nobody

[2013-12-13 10:19] #16 closed, assigned to nobody

[2013-12-17 15:53] #108 closed, assigned to nobody

[2013-12-18 08:11] edokeh opened #112 "请更新源上的 underscore 版本"
目前最新已经是 1.5.2 了，源上还是 1.4.4

[2013-12-18 11:51] #112 closed, assigned to nobody

[2013-12-18 11:51] afc163 commented on #112
https://spmjs.org/gallery/underscore/1.5.2/

[2013-12-23 07:50] hbrls opened #113 "有没有网页可以查看目前所有的模块，比如 npmjs.org 这样的"
`spm search` 太抽象了，都不知道自己该搜什么，不如能一个个看过来

[2013-12-23 07:52] popomore commented on #113
https://spmjs.org/

[2013-12-23 07:55] hbrls commented on #113
这个还是只能 search 啊，有么有分类列表之类的，刚才的例子举的不好，比如这样的 https://nodejsmodules.org/

[2013-12-23 08:56] lizzie commented on #113
可以搜索框里搜 family name, 列出此 family 下的所有模块, 目前还没有 list 页面

[2013-12-23 08:57] #113 closed, assigned to nobody

[2013-12-25 02:55] mozillazg opened #114 "throw new Error('invalid argument: `family` must be 4 or 6')"
Ubuntu 13.10

[code]

`spm install jquery/jquery` 也是相同的问题

[2013-12-25 03:13] afc163 commented on #114
感觉像网络问题。

[code]

[2013-12-25 03:18] mozillazg commented on #114
网络没问题：

[code]

[2013-12-25 03:24] afc163 commented on #114
http://nodejs.org/api/dns.html#dns_dns_lookup_domain_family_callback

试试看

[code]

[2013-12-25 03:28] afc163 commented on #114
https://github.com/joyent/node/blob/master/lib/dns.js#L113

[2013-12-25 04:09] mozillazg commented on #114
[code]

[2013-12-25 05:33] afc163 commented on #114
node 版本是？

[2013-12-25 05:46] mozillazg commented on #114
[code]

[2013-12-25 05:46] mozillazg commented on #114
我是不是应该重装一下 node ?

[2013-12-25 05:50] afc163 commented on #114
好新的版本，其实我不知道。

你试试 0.10.x 的稳定版本看看？

[2013-12-25 06:20] mozillazg commented on #114
嗯，版本是比较新。
当时是看了你们在 #83 上的讨论，通过编译官方仓库的源码安装的版本。
重装了 v0.10.24 的稳定版后问题解决了。

[2013-12-25 06:20] #114 closed, assigned to nobody

[2013-12-25 06:31] mozillazg commented on #71
+1. 非常需要下载 family 下所有模块的功能。

[2013-12-30 12:05] jiangfeiji opened #115 "win7 64位系统，两天了，依然安装不了SPM"
一、安装的时候是这样的
C:\Users\admin>npm install spm -g
npm http GET https://registry.npmjs.org/spm
npm http 200 https://registry.npmjs.org/spm
npm http GET https://registry.npmjs.org/spm/-/spm-2.2.4.tgz
npm http 200 https://registry.npmjs.org/spm/-/spm-2.2.4.tgz

然后就直接跳出了

二，npm和node的版本是这样的
C:\Users\admin>npm -v
1.3.21
C:\Users\admin>node -v
v0.10.24

三、echo %NODE_PATH%是这样的
C:\Users\admin>echo %NODE_PATH%

[2014-01-02 10:55] #115 closed, assigned to nobody

[2014-01-02 11:27] #110 closed, assigned to nobody

[2014-01-02 11:28] #22 closed, assigned to nobody

[2014-01-02 11:28] #54 closed, assigned to nobody

[2014-01-02 11:28] #71 closed, assigned to lepture

[2014-01-08 03:13] elover opened #116 "spm-watch 此工具只支持支付宝内部使用"
问一下呢，为什么有些插件只支持支付宝内部使用？这些东西挺好的，为什么不能开放出来呢？

[2014-01-08 03:33] afc163 commented on #116
上传到服务器的相关配置基本上是写死的。

[2014-01-08 03:42] elover commented on #116
那可以不用上传到服务器的那个功能不？只用于本地？我现在把业务代码也用spm bulid打包了，但是我难道要每次做了业务代码修改后都要运行 make bulid和make deploy 本地写的Markfile文件，有木有什么好的解决办法，让我每次做了修改保存后自动打包？多谢了，不想在这打包这块绊倒。

[2014-01-08 03:43] afc163 commented on #116
这种自动化方案有很多，可自行研究，欢迎贡献和分享。

类似 https://github.com/gruntjs/grunt-contrib-watch

[2014-01-08 09:00] elover commented on #116
//jx 项目构建工具 当前目录下运行 grunt build-jx 构建；grunt watch 监控文件变化自动reBuild
module.exports = function (grunt) {
    var transport = require('grunt-cmd-transport');
    var style = transport.style.init(grunt);
    var text = transport.text.init(grunt);
    var script = transport.script.init(grunt);

[code]

//  grunt.registerTask('default', ['watch']);
};

学习了一下grunt，这个算是满足了自己的需求

[2014-02-03 12:34] #116 closed, assigned to nobody

[2014-02-21 04:51] aliscript opened #117 "spm login 报 cert_has_expired"
spm login -s spmjs 登录的时候报错"cert_has_expired"

[2014-02-21 05:05] popomore commented on #117
现在证书过期了，我们正在解决。—
Sent from Mailbox for iPhone

On Fri, Feb 21, 2014 at 12:51 PM, aliscript notifications@github.com
wrote:

[2014-02-21 12:21] afc163 commented on #117
已修复，感谢反馈。

[2014-02-21 12:21] #117 closed, assigned to nobody

[2014-02-24 09:49] looping84 opened #118 "spm build 出来的都是空的文件"
我 `spm install  arale/validator` 下载了验证组件，然后去validator的目录运行
`spm build`
会生成dist目录，但是里边的文件都是空的。

[code]

[2014-02-24 09:50] popomore commented on #118
下载下来的都是编译过的，何必再编译，不知道目的为何？

[2014-02-24 09:50] #118 closed, assigned to nobody

[2014-02-25 11:40] f0x11 opened #119 "spm-build最新版本能否正常识别tpl文件中的"\"""
目前使用的2.1.12，不能正常识别

[2014-02-25 11:46] popomore commented on #119
识别 `\"` 这个是什么意思

[2014-03-03 07:20] f0x11 commented on #119
如果tpl文件中有“\"”，如a.tpl里有：
(左尖括号)input value="(\"我的值\")"(右尖括号)

spm-build打包错误

[2014-03-25 11:29] popomore commented on #119
不知道报错内容是什么，编译 tpl 应该是当作字符串操作的，而且你应该不需要转义。

[2014-05-28 04:00] wdong18 opened #120 "win7 64bit安装spm错误"
win7 64bit安装spm，在nodejs命令行下运行
npm install spm -g
提示错误：
2319 error Error: ENOENT, lstat 'C:\Users\itoware.ITOWARE-WANGDON\AppData\Roaming\npm\node_modules\node_modules\spm\node_modules\form-data\node_modules\combined-stream\test\fixture\file2.txt'
2320 error If you need help, you may report this log at:
2320 error     http://github.com/isaacs/npm/issues
2320 error or email it to:
2320 error     npm

[2014-05-28 04:39] afc163 commented on #120
先尝试升级下 node 和 npm 。

[2014-06-09 09:36] asjmtz opened #121 "spm下的命令出错spawn ENOENT"
spm什么命令都抱这个错
![image](https://cloud.githubusercontent.com/assets/5562137/3214976/7d666d8e-efb9-11e3-96b6-14c2d8db1996.png)
我的版本2.2.7

[2014-06-09 10:33] sorrycc commented on #121
应该是 PATH 没配对，参考：
http://docs.spmjs.org/doc/environment#windows-环境

[2014-06-09 11:10] afc163 commented on #121
尝试重新安装。

[code]

[2014-06-10 03:45] asjmtz commented on #121
不行啊，还是一样的，PATH和NODE_PATH都设置过了，并且重装了N次，不知道是nodeJS哪里出错了

[2014-06-30 06:34] dreamstu commented on #120
我的也报错了，不知道是什么原因！
![qq20140630143252](https://cloud.githubusercontent.com/assets/6358099/3426399/8aefbe16-0020-11e4-830d-bf7e4cb6e8b5.png)

[2014-06-30 06:36] dreamstu commented on #120
`os：win7 x64`
`node v0.10.29`
`npm v1.4.14`

[2014-06-30 06:46] sorrycc commented on #120
奇怪，这个 preinstall.js 怎么是从当前路径开始找的? 建议用官方的 msi 包重装下 node 试试。

[2014-06-30 07:10] dreamstu commented on #120
恩，在这之前，我就是用nodejs.org网站的msi安装的。刚刚安装的。

[2014-07-02 04:33] sorrycc commented on #120
找了台 x64 的 win7 试了下，重现不了。。

[2014-07-09 06:43] shownhei opened #122 "spm所有插件的中心仓库在哪里？"
Q1:spm install XXX的时候是在哪里去下载的？

Q2:spm install gallery 我发现以前的项目里面也有gallery这个东西，但是不知道是来做什么的。

[2014-07-09 06:59] afc163 commented on #122
spm@2.x 的默认源地址是 https://spmjs.org
spm@3.x 的默认源地址是 http://spmjs.io

[2014-07-09 07:01] shownhei commented on #122
谢谢，找的就是这个，gallery什么东西呢。

[2014-07-09 07:03] afc163 commented on #122
不知道你本地是 spm2 还是 spm3，如果是 spm2 的话，gallery 是指一个 family。https://spmjs.org/gallery/

http://docs.spmjs.org/doc/package#family-required

你本地的 gallery 是啥，我就不知道了。

[2014-07-09 07:04] #120 closed, assigned to nobody

[2014-07-09 07:08] shownhei commented on #122
thank you ,看了下gallery里面的插件，一下就明白了

[2014-07-09 07:26] #122 closed, assigned to nobody

[2014-11-21 10:16] iambean commented on #72
楼主是怎么好的啊？我现在也这样，悲剧

[2014-11-21 23:33] sorrycc commented on #72
@iambean 貌似是 spm2? 那么 `spm config show` 看下配置里 source:default 是什么。

[2015-02-28 08:57] hagjahsgahs opened #123 "安装不成功~"
![11111111](https://cloud.githubusercontent.com/assets/8059286/6425582/ecb23052-bf6a-11e4-9e63-8693d5131336.png)
请问这是什么原因？

[2015-03-02 06:54] #123 closed, assigned to nobody

[2015-05-12 13:52] iambean commented on #72
@sorrycc  谢谢云谦，一直没用seajs了，打包的问题好像比较麻烦。spm到现在也运行不了，跟楼主一样的错，`spm config show`的内容是

[code]

[2015-06-23 03:35] baoyuwubian opened #124 "spm build 安装错误"
##

C:\Users\sunbaoyu\node_modules\spm-build\node_modules\6to5\node_modules\kexec>node "C:\Program Files\nodejs\node_modules\npm\
bin\node-gyp-bin\....\node_modules\node-gyp\bin\node-gyp.js" configure build
系统找不到指定的路径。
gyp: Call to 'node -v |grep "v0.11" > /dev/null && echo "**NODE_V0_11**" || echo "**NOT_NODE_V0_11**"' returned exit status 2
55. while trying to load binding.gyp
gyp ERR! configure

[2015-07-29 08:43] hangyangws opened #125 "spm 安装失败"
我已经安装好了node 和 npm ：
![qq 20150729163840](https://cloud.githubusercontent.com/assets/9067839/8953408/d0f628f6-3610-11e5-86b1-6870b9d82177.png)
然后又安装spm ，就出现错误：
![qq 20150729163131](https://cloud.githubusercontent.com/assets/9067839/8953415/e1c79340-3610-11e5-91e2-23ad8aec00e0.png)

[2015-07-29 08:46] lepture commented on #125
connection reset due to GFW.